<div class="entrada-coordenadas" id="HOUR">

    <div class="col-md-12 celula-angulo">

        <div id="coordenada-horaria-angulo">
        </div>

        <div class="row-fluid">
            <div class="col-md-12">
                <label>Ângulo Horário</label>
                <div class="input-group">
                    <input value="0" id="input-entrada-horaria-angulo-hora" class="form-control input-centralizado jlink input-small input-numerico" min="0" max="23" type="text" />
                    <span class="input-group-addon">h</span>
                    <input value="0" id="input-entrada-horaria-angulo-min" class="form-control input-centralizado jlink input-small input-numerico" min="0" max="59" type="text" />
                    <span class="input-group-addon">m</span>
                    <input value="0" id="input-entrada-horaria-angulo-sec" class="form-control input-centralizado jlink input-small input-numerico" min="0" max="59" type="text" />
                    <span class="input-group-addon">s</span>
                    <input name="hourAngle" type="hidden" class="data-source-coordenada" id="input-entrada-horaria-angulo-hidden" value="0" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 celula-angulo">
        <div id="coordenada-horaria-declinacao">
        </div>

        <div class="row-fluid">
            <div class="col-md-12">
                <label>Declinação</label>

                <div class="input-group">
                    <span class="input-group-btn">
                        <button id="input-entrada-horaria-declinacao-sinal" class="btn btn-info" type="button">+</button>
                    </span>
                    <input value="0" id="input-entrada-horaria-declinacao-hora" class="form-control input-centralizado jlink input-small" type="number" min="0" />
                    <span class="input-group-addon">º</span>
                    <input value="0" id="input-entrada-horaria-declinacao-min" class="form-control input-centralizado jlink input-small" type="number" min="0" />
                    <span class="input-group-addon">'</span>
                    <input value="0" id="input-entrada-horaria-declinacao-sec" class="form-control input-centralizado jlink input-small" type="number" min="0" />
                    <span class="input-group-addon">"</span>
                    <input name="declination" type="hidden" class="data-source-coordenada" id="input-entrada-horaria-declinacao-hidden" value="0" min="-90" max="90" />
                </div>

            </div>
        </div>

    </div>

</div>

<script th:inline='javascript'>
    /*<![CDATA[*/
    ON_DAED.numberInputMinMax('.input-numerico');
    ON_DAED.addTempoSideralAnglepicker($('#coordenada-horaria-declinacao'), '#input-entrada-horaria-declinacao');
    ON_DAED.addTempoSideralAnglepicker($('#coordenada-horaria-longitude'), '#input-entrada-horaria-longitude');
    /*]]>*/
</script>