[submodule "LegacyStatic/on-daed-js"]
	path = dotnet/Astro.Web/LegacyStatic/lib/on-daed-js
	url = https://csiqueirasilva@github.com/csiqueirasilva/on-daed-js
[submodule "LegacyStatic/on-physics"]
	path = dotnet/Astro.Web/LegacyStatic/lib/on-physics
	url = https://csiqueirasilva@github.com/csiqueirasilva/on-physics
[submodule "LegacyStatic/jupiter-satellite-events-json"]
	path = dotnet/Astro.Web/LegacyStatic/lib/jupiter-satellite-events-json
	url = https://csiqueirasilva@github.com/csiqueirasilva/jupiter-satellite-events-json
[submodule "docs/wiki"]
	path = docs/wiki
	url = git@github.com:csiqueirasilva/ASTRO.wiki.git
