<h3>Sistema Equatorial de Coordenadas</h3>

<p>Tomamos como exemplo as coordenadas de Sirius (ascensão reta (&alpha;)= 06h 45m 09s
    e declinação (&delta;)= -16° 42' 58"), a estrela mais brilhante no céu noturno.</p>

<p>O Equador Celeste ou de referência, utilizado neste programa, é o da época 1 de janeiro de 2000
    às 12h, também conhecido como J2000.</p>

<div class="btn-exemplo-ajuda">
    <button id="exemplo-btn" type="button" class="btn btn-primary">Veja o exemplo</button>
</div>

<h3>Saiba mais em:</h3>

<a href="http://pt.wikipedia.org/wiki/Sirius" target="_blank">http://pt.wikipedia.org/wiki/Sirius</a>

<script th:inline='javascript'>
    /*<![CDATA[*/
    
    $('#exemplo-btn').click(function () {
        $('#escolha-coordenadas').val('EQUATORIAL').trigger('change');
        $('#coordenada_ascensao_reta').anglepicker('value', ON_DAED.tempoSideralRadiano(06, 45, 09));
        $('#coordenada_declinacao').anglepicker('value', ON_DAED.parseTempoSideral(-16, -42, -58) * 2);

        $('#enviar-formulario-obter-coordenadas').trigger('click');
        $('.modal').modal('hide');
    });
    
    /*]]>*/
</script>

<div th:include="descricoes/botao-visualizacao-esfera-celeste-coordenadas :: texto('Inserir Coordenadas', 'Permite inserir, para visualizar ou determinar, as Coordenadas
       Equatoriais a partir de outros sistemas de coordenadas: Eclíptico,
       Horizontal, Galáctico e Supergaláctico.')">
</div>