<h3>Sistema Equatorial de Coordenadas</h3>

<p>O Sistema equatorial de coordenadas celeste utiliza como plano fundamental ou
    plano de referência o Equador Celeste. Suas coordenadas são a <b>ascensão reta</b> e
a <b>declinação</b>.</p>

<p>O sistema equatorial é fixo na esfera celeste e, portanto, suas coordenadas não
dependem do lugar e instante de observação. A ascensão reta e a declinação de um
astro permanecem praticamente constantes por longos períodos de tempo.</p>

<p>Ascensão Reta (<b>&alpha;</b>): ângulo medido sobre o equador celeste, com origem no
Ponto Vernal e fim no meridiano do astro. A ascensão reta varia entre 0h e
24h aumentando para leste.</p>

<p>Declinação (<b>&delta;</b>): ângulo medido sobre o meridiano do astro, com origem no
equador celeste e fim no astro. A declinação varia entre -90° e +90°.</p>

<p>Ponto Vernal ou Ponto de Áries ou Ponto Gama (<b>&gamma;</b>) é o ponto de interseção
entre o plano do equador celeste e a trajetória aparente do Sol ou plano de
sua órbita (Eclíptica).</p>

<h3>Saiba mais em:</h3>

<a href="http://pt.wikipedia.org/wiki/Sistema_equatorial_de_coordenadas" target="_blank">http://pt.wikipedia.org/wiki/Sistema_equatorial_de_coordenadas</a>