<h3>Posição da Lua e suas Fases</h3>

<p>Este programa pode ser usado em vários seguimentos da sociedade: trabalho,
    escolas, viagens, exercícios, lazer, etc. Em qualquer ponto do nosso planeta o usuário
    poderá conhecer o instante exato das Fases da Lua e sua posição no céu.</p>

<p>O programa permite ao usuário experimentar como as Fases da Lua são visualizadas
    dos Polos da Terra, do equador ou de qualquer ponto do planeta. Literalmente é um
    convite à reflexão, não somente de como a luz solar se comporta sobre a superfície
    Lunar, como também da compreensão deste fenômeno.</p>

<h3>Botões de Tela</h3>

<div class="btn-exemplo-ajuda">
    <button type="button" class="btn btn-info btn-lg">
        Alterar Local e Data
    </button>
</div>

<p>Além de detectar as coordenadas geográficas locais automaticamente do
    computador, este botão permite introduzir dados manualmente ou
    escolhidos a partir de uma lista (busca textual).</p>

<div class="btn-exemplo-ajuda">
    <i class="glyphicon glyphicon-eye-open lua-ligado jlink"></i>
</div>

<p>Este botão permite visualizar a Lua em destaque.</p>

<div class="btn-exemplo-ajuda">
    <div class="btn-group" role="group">
        <button disabled="disabled" type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
        <button class="btn btn-info" type="button">Passagem do Tempo <i class="glyphicon glyphicon-repeat"></i> <span>1</span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    </div>
</div>

<p>A função deste botão é acelerar e desacelerar o tempo, permitindo assim a visualização
do movimento do Sol e da Lua para vários dias contínuos, assim como a
fração do disco lunar iluminado. O movimento também pode ser
interrompido a qualquer momento, bastando para isso um clique.</p>

<p>Note que a função deste botão pode ser conjugada com o botão <i class="glyphicon glyphicon-eye-open lua-ligado jlink"></i>. Neste
caso a visualização é realizada com a Lua em destaque.</p>

<p>Os botões mudam o tom de sua cor quando são ligados ou desligados.</p>

<h3>Funções do Mouse</h3>
<ul>
    <li><b>Botão Esquerdo:</b> com este botão pode-se deslocar (rotação) a imagem do
        sistema.</li>
    <li><b>Botão Direito:</b> para mover o plano do horizonte, sobre o qual está o
        observador, manter este botão pressionado e arraste.</li>
    <li><b>Botão de rolagem:</b> para aproximar ou afastar a imagem, basta girar este botão
        ou mantê-lo pressionado e arrastando verticalmente.</li>
</ul>

<h3>Resultados</h3>
<p>Os resultados são mostrados no canto inferior esquerdo da tela.</p>