<h3>Posição da Lua e suas Fases</h3>

<p>A partir das rotinas do pacote ASTRO é possível construir vários aplicativos. Um exemplo clássico é a determinação das Fases da Lua para as coordenadas geográficas do observador, com a visualização do nascer e ocaso.</p>

<p>É importante registrar que a grande motivação para a criação deste programa é que
ele foi desenvolvido por um estudante, bolsista do Programa de Capacitação
Institucional - PCI/CNPq. Assim, o Observatório Nacional além de cumprir o seu
papel de capacitar e formar profissionais nas suas áreas de atuação, disponibiliza os
trabalhos que são desenvolvidos na instituição para toda a sociedade.</p>

<div th:replace="descricoes/equinocios">
</div>

<h3>Saiba mais em:</h3>

<div>
    <a href="http://pt.wikipedia.org/wiki/Fases_da_Lua">http://pt.wikipedia.org/wiki/Fases_da_Lua</a>
</div>