<link href="css/bootstrap-slider.css" rel="stylesheet" />
<script src='js/bootstrap-slider.js'>
</script>

<script src='lib/on-physics/src/core/PhysWrapperTrace.js'>
</script>

<script src='lib/on-daed-js/3D/JupiterSatelites.js'>
</script>

<div id="campo-de-observacao" class="row-fluid">
</div>

<div id="loading-satelites">Carregando posições!</div>

<button type="button" id="btn-info-local" class="btn btn-primary btn-lg ui-observacao-horizontal" data-toggle="modal" data-target="#info-local">
    Configurar Data e Local
</button>

<div class="modal fade ui-observacao-horizontal" id="cidade-form" tabindex="-1" role="dialog" aria-labelledby="Localizar Cidade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Localizar Cidade</h4>
            </div>

            <div class="modal-body">
                <label id="busca-cidade-feedback"></label>
                <input type="text" data-provide="typeahead" autocomplete="off" class="form-control" id="busca-cidade-input"/>
            </div>
        </div>
    </div>
</div>

<div class="modal fade ui-observacao-horizontal" id="info-local" tabindex="-1" role="dialog" aria-labelledby="Informações de Data e Local" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Data e Local</h4>
            </div>

            <div class="modal-body">

                <button type="button" id="btn-cidade-form" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#cidade-form">
                    Escolher Local
                </button>

                <div id="label-cidade-form" style="display: none;">OBSERVATORIO NACIONAL</div>

                <div class='igrf-divisao'>

                    <h4>Data <span title="Referência: J2000" data-placement="right" data-toggle="tooltip" class="ui-astro-tooltip"><i class="glyphicon glyphicon-question-sign"></i></span></h4>

                    <input readonly="readonly" class="form-control input-centralizado jlink dataju-datepicker" name="data-gregoriana-de-local" size="16" type="text" id="dataju-datepicker-de-local" value="12/02/2012" />

					<div id="hora-minuto-segundo-row">
						<div>
							<label class="control-label">Hora (HH:MM:SS)</label>
						</div>
						<input type="number" placeholder="HH" class="input-hora form-control" value="0" />
						<input type="number" placeholder="MM" class="input-hora form-control" value="0" />
						<input type="number" placeholder="SS" class="input-hora form-control" value="0" />
					</div>

                </div>

                <div class='igrf-divisao'>

                    <div class="celula-angulo">
                        <div id="igrf-latitude">
                        </div>

                        <div class="row-fluid">
                            <div class="col-md-12">
                                <label>Latitude</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button id="igrf-latitude-sinal" class="btn btn-info" type="button">+</button>
                                    </span>
                                    <input value="0" id="igrf-latitude-hora" class="form-control input-centralizado jlink input-small input-numerico" min="0" type="number" />
                                    <span class="input-group-addon">º</span>
                                    <input value="0" id="igrf-latitude-min" class="form-control input-centralizado jlink input-small input-numerico" min="0" max="59" type="number" />
                                    <span class="input-group-addon">'</span>
                                    <input value="0" id="igrf-latitude-sec" class="form-control input-centralizado jlink input-small input-numerico" min="0" max="59" type="number" />
                                    <span class="input-group-addon">"</span>
                                    <input name="latitude" type="hidden" class="data-source-coordenada" id="igrf-latitude-hidden" value="0" min="-90" max="90" />
                                </div> 
                            </div>
                        </div>
                    </div>

                    <div class="celula-angulo">
                        <div id="igrf-longitude">
                        </div>

                        <div class="row-fluid">
                            <div class="col-md-12">
                                <label>Longitude</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button id="igrf-longitude-sinal" class="btn btn-info" type="button">+</button>
                                    </span>
                                    <input value="0" id="igrf-longitude-hora" class="form-control input-centralizado jlink input-small input-numerico" min="0" type="number" />
                                    <span class="input-group-addon">º</span>
                                    <input value="0" id="igrf-longitude-min" class="form-control input-centralizado jlink input-small input-numerico" min="0" max="59" type="number" />
                                    <span class="input-group-addon">'</span>
                                    <input value="0" id="igrf-longitude-sec" class="form-control input-centralizado jlink input-small input-numerico" min="0" max="59" type="number" />
                                    <span class="input-group-addon">"</span>
                                    <input name="longitude" type="hidden" class="data-source-coordenada" id="igrf-longitude-hidden" value="0" min="-180" max="180" />
                                </div> 
                            </div>
                        </div>
                    </div>

                </div>

                <div class='igrf-divisao'>
                    <label>Fuso horário</label>
                    <div>
                        <input value="0" class="form-control" id="info-fuso-horario" type="text" />
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="input-horario-verao"/> Horário de Verão
                        </label>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div id="parent-slider-data" class="parent-bs-slider noselect">
    <div class="label-data-slider"></div>
    <div class="label-eventos-slider">Eventos do dia <span rel='tooltip' title="" data-placement="top right" data-toggle="tooltip" id="eventos-do-dia" data-html="true"><i class="glyphicon glyphicon-question-sign"></i></span></div>
    <div id="eventos-do-dia-hidden" class="hidden"></div>
    <div id="parent-foco-terra"><i id="play-terra" class="glyphicon glyphicon-play terra-ligado jlink"></i>&nbsp;<i id="foco-terra" class="glyphicon glyphicon-eye-open terra-ligado jlink"></i></div>
    <input class="bs-slider" data-slider-tooltip="hide" id="slider-data" data-slider-id='slider-data' type="text" data-slider-min="0" data-slider-max="3100" data-slider-step="1" data-slider-value="0" />
</div>

<script th:inline='javascript'>
	/*<![CDATA[*/
	(function () {

		$.getJSON('lib/on-daed-js/CID-ALL.json', function (data) {

			$('#cidade-form').on('show.bs.modal', function () {
				$('#busca-cidade-input').val('');
				$('#info-local').modal('hide');
				$('#busca-cidade-feedback').html("Digite a cidade");
			});

			$('#cidade-form').on('hidden.bs.modal', function () {
				$('#info-local').modal('show');
			});

			var cidades = [];

			for (var i in data) {
				var estado = data[i];
				for (var j = 0; j < estado.length; j++) {
					cidades.push({
						name: i + ' - ' + data[i][j].c,
						l: parseFloat(data[i][j].l),
						b: parseFloat(data[i][j].b)
					});
				}
			}

			var buscaCidadeInput = $('#busca-cidade-input');

			buscaCidadeInput.on('keyup', function () {
				window.setTimeout(function () {
					if ($('ul.typeahead li:visible').length === 0 && buscaCidadeInput.val()) {
						$('#busca-cidade-feedback').html("Nenhuma cidade foi localizada");
					} else if (!buscaCidadeInput.val()) {
						$('#busca-cidade-feedback').html("Digite a cidade");
					} else if ($('ul.typeahead li:visible').length !== 0) {
						$('#busca-cidade-feedback').html("Escolha a cidade");
					} else {
						$('#busca-cidade-feedback').empty();
					}
				}, 10);
			});

			buscaCidadeInput.typeahead({source: cidades,
				autoSelect: true, items: 100});

			function labelCidade(nome) {
				$('#label-cidade').html(nome);
				$('#label-cidade-form').html(nome);
				$('#label-cidade-form').show();
			}

			buscaCidadeInput.change(function () {
				var current = buscaCidadeInput.typeahead("getActive");
				if (current) {
					// Some item from your model is active!
					if (current.name === buscaCidadeInput.val().toUpperCase()) {
						$('#igrf-longitude').anglepicker('value', current.l, true);
						$('#igrf-latitude').anglepicker('value', current.b * 2, true);
						labelCidade(current.name);
						$('#cidade-form').modal('hide');
					} else {
					}
				} else {
					// new value
				}
			});

			ON_DAED.numberInputMinMax('.input-numerico');

			ON_DAED.addTempoSideralAnglepicker($('#igrf-latitude'), '#igrf-latitude');
			ON_DAED.addTempoSideralAnglepicker($('#igrf-longitude'), '#igrf-longitude');

			var date = new Date();

			$('#dataju-datepicker-de-local')
				.val(date.getUTCDate() + '/' + (date.getUTCMonth() < 9 ? '0' + (date.getUTCMonth() + 1) : date.getUTCMonth() + 1) + '/' + date.getUTCFullYear())
				.datepicker({
					orientation: "top",
					format: 'dd/mm/yyyy',
					language: 'pt-BR',
					autoclose: true,
					startDate: "01/01/1900",
					endDate: "31/12/2020"
				}).on('changeDate',
				function (ev) {

				});

			$('#igrf-latitude-hidden').change(function () {
				$('#label-cidade-form').hide();
			});

			$('#igrf-longitude-hidden').change(function () {
				$('#label-cidade-form').hide();
			});

			$('#info-fuso-horario').change(function () {
				var v = $(this).val();
				if (isNaN(v)) {
					$(this).val("0");
				}
			});

			function obterFusoHorario() {
				return parseFloat($('#info-fuso-horario').val()) + ($('#input-horario-verao').is(':checked') ? 1 : 0);
			}

			(function () {

				var fuso = ON_DAED.fusoOriginal();

				$('#input-horario-verao').attr('checked', ON_DAED.horarioVerao() ? true : false);

				$('#info-fuso-horario').val(fuso);

				$('#info-local').on('hidden.modal.bs', function () {
					var dtVal = $('#dataju-datepicker-de-local').val().split('/');

					var fuso = obterFusoHorario();

					var dt = new Date(Date.UTC(dtVal[2], dtVal[1] - 1, dtVal[0], -fuso, 0, 0));

					setModelDate(dt.getUTCFullYear(), dt.getUTCMonth() + 1, dt.getUTCDate(), dt.getUTCHours(), dt.getUTCMinutes(), dt.getUTCSeconds());
				});

			})();

			/* SRC: http://stackoverflow.com/questions/3169786/clear-text-selection-with-javascript */
			function clearTextSelection() {
				if (window.getSelection) {
					if (window.getSelection().empty) {  // Chrome
						window.getSelection().empty();
					} else if (window.getSelection().removeAllRanges) {  // Firefox
						window.getSelection().removeAllRanges();
					}
				} else if (document.selection) {  // IE?
					document.selection.empty();
				}
			}

			$('.bs-slider').bootstrapSlider();

			function formatEventoMutuo(ev) {
				var sat;
				var tipo;
				var movimento = ev.event;
				var b1, b2;
				var jup = "Júpiter";

				var ret = "<div>";

				switch (ev.sat) {
					case "1":
						sat = "Io";
						break;
					case "2":
						sat = "Europa";
						break;
					case "3":
						sat = "Ganímedes";
						break;
					case "4":
						sat = "Calisto";
				}

				var color = posJup.getSatelliteColors()[ev.sat];

				sat = "<span style='font-weight: bold; color: " + color + ";'>" + sat + "</span>";
				jup = "<span style='font-weight: bold; color: #ffa500;'>" + jup + "</span>";

				switch (ev.type) {
					case "Ecl":
						tipo = "Sombra";
						b1 = sat;
						b2 = jup;
						break;
					case "Sha":
						tipo = "Sombra";
						b2 = sat;
						b1 = jup;
						break;
					case "Occ":
						tipo = "Ocultação";
						b2 = sat;
						b1 = jup;
						break;
					case "Tra":
						tipo = "Trânsito";
						b1 = sat;
						b2 = jup;
						break;
				}

				movimento = movimento === "start" ? "início" : "fim";

				var fuso = obterFusoHorario();

				var jd = ON_DAED.ASTRO.getJulianFromUnix(ev.date);

				ret += "[" + ON_DAED.formatarDataJuliana(jd, fuso).substr(14) + "] " + tipo + " (" + movimento + "): " + b1 + " sobre " + b2;

				ret += "</div>";

				return ret;
			}

			function timeDataFromJulian(jd) {
				var fuso = obterFusoHorario();
				var dt = ON_DAED.ASTRO.getDateFromJulian(jd - (1 / 24) * fuso);
				var idx = dt.toISOString().slice(0, 10).replace(/-/g, '');
				var events = timeData[idx];
				var ret = '<h2>Eventos de ' + ON_DAED.formatarDataJuliana(jd, fuso).substr(0, 10) + '</h2><div>';

				if (events) {
					if (events.length > 0) {
						var rad = Math.PI / 180;
						var localLatitude = parseFloat($('#igrf-latitude-hidden').val()) * rad;
						var localLongitude = parseFloat($('#igrf-longitude-hidden').val()) * rad;
						var transitTimes = ON_DAED.ASTRO.getTransit(localLongitude, localLatitude, jd, ON_DAED["ASTRO"].SolarSystemBody.SUN);
						//console.log(transitTimes);

						for (var i = 0; i < events.length; i++) {
							var ev = events[i];
							ret += formatEventoMutuo(ev);
						}
					} else {
						ret += "Não há eventos para a data selecionada";
					}
				}

				ret += '</div>';

				return ret;
			}

			var sliderFact = 100000000;

			var animateYear = null;

			function stopAnimateYear() {
				window.clearInterval(animateYear);
				animateYear = null;
				$('input#slider-data').bootstrapSlider('enable');
				var ativoClass = 'glyphicon-pause terra-desligado';
				var inativoClass = 'glyphicon-play terra-ligado';

				$('#play-terra').removeClass(ativoClass);
				$('#play-terra').addClass(inativoClass);
			}

			function startAnimateYear() {
				if (animateYear === null) {
					var t = $('input#slider-data').bootstrapSlider('getValue');
					$('input#slider-data').bootstrapSlider('disable');
					var max = $('input#slider-data').bootstrapSlider('getAttribute', 'max');
					animateYear = window.setInterval(function () {
						t += sliderFact / 50;
						$('input#slider-data').bootstrapSlider('setValue', t, true);
						if (t >= max) {
							stopAnimateYear();
						}
					}, 20);
				}
			}

			function sliderBtn(slideEvt) {
				var value = parseInt(slideEvt.value);

				if (isNaN(value)) {
					value = parseInt($(this).attr('data-slider-value'));
				}

				var cb = $('#' + this.id).data('cb');
				cb(value);

				var displayValue = refJD + value / sliderFact;

				$(this).data('JD', displayValue);

				var fuso = obterFusoHorario();

				displayValue = ON_DAED.formatarDataJuliana(displayValue, fuso);

				var q = $('#' + this.id);

				q.siblings('.label-data-slider').html(displayValue);
				$('#eventos-do-dia-hidden').html(timeDataFromJulian($(this).data('JD')));

				clearTextSelection();
			}

			$('.bs-slider').on('slideStop', sliderBtn);
			$('.bs-slider').on('slide', sliderBtn);

			$('.parent-bs-slider').bind('mouseup', clearTextSelection);

			$('.campo-de-observacao').bind('mouseup', clearTextSelection);

			$('#slider-data').data('cb', function (value) {
				var t = value / sliderFact;
				posicaoJupiter.traceLines(t);
			});

			$('#velocidade-translacao-terra').data('cb', function (value) {
				//observacaoSistemaSolar.setVelocidadeRotacao(value / 10000);
			});

			$('#velocidade-rotacao-terra').data('cb', function (value) {
				//linhasDeForca.setVelocidadeRotacao(value / 10000);
			});

			$('#foco-terra').bind('click', function () {
				var ativoClass = 'glyphicon-eye-close terra-desligado';
				var inativoClass = 'glyphicon-eye-open terra-ligado';

				$(this).toggleClass(ativoClass);
				$(this).toggleClass(inativoClass);

				posicaoJupiter.cameraLocked = !posicaoJupiter.cameraLocked;
				if (posicaoJupiter.cameraLocked) {
					posicaoJupiter.setSunCameraPos();
					// show msg
				}
			});

			$('#play-terra').bind('click', function () {
				var ativoClass = 'glyphicon-pause terra-desligado';
				var inativoClass = 'glyphicon-play terra-ligado';

				$(this).toggleClass(ativoClass);
				$(this).toggleClass(inativoClass);

				if (animateYear === null) {
					startAnimateYear();
				} else {
					stopAnimateYear();
				}
			});

			$('#eventos-do-dia').tooltip({
				html: true,
				container: "body",
				placement: "top",
				title: function () {
					return $('#eventos-do-dia-hidden').html();
				}
			});

			var posicaoJupiter;
			var control;
			var timeData = null;
			var refJD = 0;

			function fetchTimeData(mes, ano, callback) {

				$('input#slider-data').bootstrapSlider('disable');

				var jd = ON_DAED.ASTRO.getJulianFromGregorian(1, mes, ano, 0, 0, 0, 0);

				$.getJSON('lib/jupiter-satellite-events-json/export/' + ano + '.json', function (data) {
					timeData = data;

					$.getJSON('horizons/jupiter-satellites-model', {jd: jd}, function (posData) {

						posicaoJupiter.updateFromData(posData);
						refJD = jd;

						$('input#slider-data').trigger('slide');
						$('input#slider-data').bootstrapSlider('enable');

						if (callback instanceof Function) {
							callback();
						}
					});
				});

			}

			ON_DAED["3D"].create(function (scene, camera) {

				var wrapperJupiter = new THREE.Object3D();

				posicaoJupiter = new ON_DAED["3D"].JupiterSatelites(wrapperJupiter, control);

				scene.add(wrapperJupiter);

				posicaoJupiter.traceLines(0);

				posicaoJupiter.setCameraDataCallback(function () {
					var lat = parseFloat($('#igrf-latitude-hidden').val());
					var long = parseFloat($('#igrf-longitude-hidden').val());
					var jd = $('input#slider-data').data('JD');

					return {
						lat: lat,
						long: long,
						jd: jd
					};
				});

				window.posJup = posicaoJupiter;

			}, function (cameraControl, renderer, scene, camera, stats, clock) {

				if (($('#campo-de-observacao canvas').is(':hover') || posicaoJupiter.cameraLocked) && !$('.modal').is(':visible')) {
					cameraControl.enabled = true;
					cameraControl.update(clock.getDelta());
				} else {
					cameraControl.enabled = false;
				}

				ON_DAED["3D"].update(camera);
				renderer.render(scene, camera);
			}, document.getElementById('campo-de-observacao'),
				function (camera, renderer, scene, stats) {
					control = new THREE.OrbitControls(camera);
					control.maxDistance = 125000;
					control.minDistance = 1000;
					return control;
				});

			$('#load-modal').data('beforeReady').push(function () {
				//$('input#slider-data').trigger('slideStop');
			});

			function setModelDate(ano, mes, dia, hora, min, sec) {

				$('#loading-satelites').show();

				fetchTimeData(mes, ano, function () {
					var t = ON_DAED.diaDoMesFloat(dia, hora, min, sec);
					
					var horario = $('#hora-minuto-segundo-row').children('input').map(function (k, v) {
						return parseFloat($(v).val());
					});
					
					t += (horario[0] + horario[1] / 60 + horario[2] / 3600) / 24;
					
					$('input#slider-data').bootstrapSlider('setAttribute', 'max', ON_DAED.qtdDiasMes(ano, mes) * sliderFact);
					$('input#slider-data').bootstrapSlider('setValue', t * sliderFact, true);
					posicaoJupiter.setSunCameraPos();
					posicaoJupiter.traceLines(t);
					posicaoJupiter.started = true;

					posicaoJupiter.cameraLocked = false;

					window.setTimeout(function () {
						$('#foco-terra').trigger('click');
						$('#loading-satelites').hide();
					}, 1000);
				});
			}

			$('#load-modal').data('beforeReady').push(function () {
				var dt = new Date();
				setModelDate(dt.getUTCFullYear(), dt.getUTCMonth() + 1, dt.getUTCDate(), dt.getUTCHours(), dt.getUTCMinutes(), dt.getUTCSeconds());
			});

		});

	})();
	/*]]>*/
</script>