<style>

	#loading-satelites {
		background: #000000;
		color: #FFF;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		z-index: 10;
		padding: 1%;
	    font-size: 3em;
	}
	
    #agradecimento-constantino {
        color: #000000;
        text-align: center;
        width: 100%;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #label-cidade-form {
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    #label-cidade-form:before {
        padding: 10px;
        content: "Local escolhido:";
    }

	#btn-exportar-eventos {
		left: 1%;
		top: 70px;
	}
	
    #btn-info-local {
        top: 10px;
        left: 1%;
    }

    .igrf-col {
        display: inline-block;
        width: 200px;
    }

    .igrf-divisao {
        margin-top: 14px;
        margin-bottom: 14px;
    }

    #parent-exibir-igrf {
        top: 120px;
        left: 1%;
    }

    #btn-gerar-pdf {
        margin-top: 16px;
    }

    #parent-slider-data {
        bottom: 10px;
		color: #fff;
        background: rgba(0, 0, 0, 0.5);
    }

    #parent-velocidade-translacao-terra {
        bottom: 65px;
    }

    #parent-velocidade-rotacao-terra {
        bottom: 120px;
    }

    .slider-selection {
        background: #BABABA;
    }

    .label-slider, .titulo-slider {
        color: #FFF;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 10px;
    }

    .parent-bs-slider {
        position: absolute;
        left: 2%;
    }

    #parent-foco-terra {
        margin-top: 0.5vh;
        font-size: 2em;
    }

    .terra-ligado {
        color: #6fc992;
    }

    .terra-desligado {
        color: #ec5555;
    }

    .dicas-de-uso-ferramenta {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .dicas-de-uso-terra {
        font-size: 2em;
    }
	
	.igrf-divisao .tooltip {
		text-align: left !important; 
	}
	
    .tooltip-inner {
        max-width: 1000px !important;
        text-align: left;
    }

    .tooltip-inner > * {
        max-width: 1000px !important;
    }
    
    #foco-msg {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
        bottom: 2vh;
        left: 0px;
        text-align: center;
        font-size: 3em;
    }
    
</style>