<style>

    #agradecimento-constantino {
        color: #000000;
        text-align: center;
        width: 100%;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #label-cidade-form {
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    #label-cidade-form:before {
        padding: 10px;
        content: "Local escolhido:";
    }

    #btn-info-local {
        top: 10px;
        left: 1%;
    }

    .igrf-col {
        display: inline-block;
        width: 200px;
    }

    .igrf-divisao {
        margin-top: 14px;
        margin-bottom: 14px;
    }

    #parent-exibir-igrf {
        top: 120px;
        left: 1%;
    }

    #btn-gerar-pdf {
        margin-top: 16px;
    }

    #parent-slider-data {
        bottom: 10px;
    }

    #parent-velocidade-translacao-terra {
        bottom: 65px;
    }

    #parent-velocidade-rotacao-terra {
        bottom: 120px;
    }

    .slider-selection {
        background: #BABABA;
    }

    .label-slider, .titulo-slider {
        color: #FFF;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 10px;
    }

    .parent-bs-slider {
        position: absolute;
        left: 2%;
    }

    #parent-foco-terra {
        position: absolute;
        left: 2%;
        bottom: 165px;
        font-size: 2em;
    }

    .terra-ligado {
        color: #6fc992;
    }

    .terra-desligado {
        color: #ec5555;
    }

    .dicas-de-uso-ferramenta {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .dicas-de-uso-terra {
        font-size: 2em;
    }
	
	.igrf-divisao .tooltip {
		text-align: left !important; 
	}
	
</style>