<h3>Fenômenos dos satélites de Júpiter</h3>

<p>Desde 1610, quando Galileu Galilei descobriu IO, Europa, Ganimedes e Calisto, as quatro
	maiores luas de Júpiter, muitos astrônomos, profissionais e amadores têm observado esses
	satélites naturais para conhecer suas posições em relação ao planeta e assim seus
	movimentos em torno de Júpiter. Essas posições podem ser usadas para tornar mais
	precisos os seus parâmetros orbitais relativos e suas variações de longo período.</p>

<p>Como esses satélites são brilhantes e têm órbitas muito próximas de Júpiter, eles podem ser
	observados com equipamentos óticos simples. Dada esta facilidade, existe um grande
	interesse em observar os fenômenos que acontecem nesse sistema planetário, tais como,
	eclipses, ocultações e trânsitos dos satélites em relação à Júpiter.</p>

<p>A proposta deste software é gerar predições desses fenômenos, de maneira que auxilie os
	astrônomos, amadores ou não, a realizarem tais observações, dando assim a sua importante
	contribuição para tornar mais precisas as efemérides desses satélites. Estas observações
	têm valor científico e podem contribuir para o banco de dados do Jet Propulsion Laboratory,
	órgão que integra a Agência Espacial Americana (NASA).</p>

<p>O modelo dinâmico utilizado neste software fornece, entre o ano de 2000 e 2100, a data,
	instante observável, tipo de fenômeno, posição aparente aproximada e outros parâmetros
	para auxiliar às observações que envolvem os quatro principais satélites e Júpiter:</p>

<ul>
	<li>Ocultações dos satélites por Júpiter</li>
	<li>Trânsito dos satélites pelo disco de Júpiter</li>
	<li>Eclipses dos satélites pela sombra de Júpiter</li>
	<li>Trânsito da sombra dos satélites pelo disco de Júpiter</li>
</ul>

<p>As posições dos satélites IO, Europa, Ganímede e Calisto, foram obtidas da teoria <b>L2</b>, contida na teoria planetária VSOP87 (<b>V</b>ariations <b>S</b>éculaires des <b>O</b>rbites <b>P</b>lanétaires), disponibilizada no L'institut de Mécanique Céleste et de Calcul des Éphémérides (Paris, França).</p>
	
<p>A teoria <b>L2</b> descreve o movimento orbital das quatro principais luas em torno de Júpiter. A partir dos dados desses satélites são determinados os eventos e construídas as curvas paramétricas aproximadas para exibir, em cada instante, a posição desses corpos celestes na tela.</p>

<p><b>Importante:</b> Importante: este software não faz previsões de eclipses e ocultações mútuas entre os satélites. Estes fenômenos acontecem a cada 6 anos, quando a Terra e o Sol cruzam o plano das órbitas dos quatro principais satélites de Júpiter.</p>

<style>
	#ajuda-satelites-table {
		width: 100%;
	}
	
	#ajuda-satelites-table * {
		text-align: center;
		padding: 6px;
	}
	
	#informacao-texto-modal .modal-dialog {
		width: 750px !important;
	}
</style>

<table class="table-bordered" id="ajuda-satelites-table">
	<thead>
		<tr>
			<th colspan="7">Algumas características dos 4 principais satélites de Júpiter</th>
		</tr>
		<tr>
			<th>Satélite</th>
			<th>N°</th>
			<th>Raio (km)</th>
			<th>Massa (kg)</th>
			<th>Distância a Júpiter</th>
			<th>Período orbital</th>
			<th>Magnitude Visual</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Io</td>
			<td>I</td>
			<td>1815</td>
			<td>8,94e<sup>22</sup></td>
			<td>421.600</td>
			<td>1<sup>d</sup> 18<sup>h</sup> 27<sup>m</sup> 21<sup>s</sup>,6</td>
			<td>5,02</td>
		</tr>
		<tr>
			<td>Europa</td>
			<td>II</td>
			<td>1569</td>
			<td>4,80e<sup>22</sup></td>
			<td>670.900</td>
			<td>3<sup>d</sup> 13<sup>h</sup> 13<sup>m</sup> 26<sup>s</sup>,4</td>
			<td>5,29</td>
		</tr>
		<tr>
			<td>Ganímedes</td>
			<td>III</td>
			<td>2631</td>
			<td>1,48e<sup>23</sup></td>
			<td>1070.000</td>
			<td>7<sup>d</sup> 03<sup>h</sup> 43<sup>m</sup> 12<sup>s</sup>,0</td>
			<td>4,61</td>
		</tr>
		<tr>
			<td>Calisto</td>
			<td>IV</td>
			<td>2400</td>
			<td>1,08e<sup>23</sup></td>
			<td>1883.000</td>
			<td>16<sup>d</sup> 16<sup>h</sup> 32<sup>m</sup> 9<sup>s</sup>,6</td>
			<td>5,65</td>
		</tr> 
	</tbody>
</table>

<h3>Saiba mais em:</h3>

<div><a href="https://pt.wikipedia.org/wiki/J%C3%BApiter_(planeta)#Sat.C3.A9lites_de_Galileu">https://pt.wikipedia.org/wiki/J%C3%BApiter_(planeta)#Sat.C3.A9lites_de_Galileu</a></div>
<div><a href="https://www.if.ufrgs.br/ast/solar/portug/jupiter.htm">https://www.if.ufrgs.br/ast/solar/portug/jupiter.htm</a></div>
<div><a href="http://www.apolo11.com/tema_astronomia_luas_jupiter.php">http://www.apolo11.com/tema_astronomia_luas_jupiter.php</a></div>
<div><a href="http://www.skyandtelescope.com/observing/objects/javascript/jupiter">http://www.skyandtelescope.com/observing/objects/javascript/jupiter</a></div>
<div><a href="http://solarviews.com/portug/">http://solarviews.com/portug/</a></div>