<p>A partir das rotinas do pacote ASTRO é possível construir vários aplicativos. Um exemplo
    clássico é a determinação do Nascer, Passagem Meridiana e Ocaso do Sol para as
    coordenadas geográficas do observador. Um aplicativo genuinamente institucional,
    desenvolvido com ferramentas modernas para tornar sua funcionalidade amigável e
    intuitiva.</p>

<p>É importante registrar que a grande motivação para a criação deste programa é que ele
    foi desenvolvido por um estudante, bolsista do Programa de Capacitação Institucional -
    PCI/CNPq. Assim, o Observatório Nacional além de cumprir o seu papel de capacitar e
    formar profissionais nas suas áreas de atuação, disponibiliza os trabalhos que são
    desenvolvidos na instituição para toda a sociedade.</p>

<div th:replace="descricoes/equinocios">
</div>

<h4>Saiba mais em:</h4>

<div>
    <a href="http://pt.wikipedia.org/wiki/Sol" target="_blank">http://pt.wikipedia.org/wiki/Sol</a>
</div>
<div>
    <a href="http://pt.wikipedia.org/wiki/Crep%C3%BAsculo" target="_blank">http://pt.wikipedia.org/wiki/Crepúsculo</a>
</div>
<div>
    <a href="http://pt.wikipedia.org/wiki/Nascer_do_Sol" target="_blank">http://pt.wikipedia.org/wiki/Nascer_do_Sol</a>
</div>