<h1 class="titulo-widget">Data Juliana para Calendário Gregoriano</h1>
<div class="row-fluid campo-de-input">
    <div class="col-md-offset-3 col-md-6">
        <form>
            <div class="form-group">

                <label class="margin-top-2" for="data-juliana">Data Juliana</label>
                <div class="row-fluid">
                    <div class="col-md-12">
                        <input id="input-data-juliana" value="0" class="input-numerico form-control input-centralizado jlink input-small" name="data-juliana" type="number" />
                    </div>
                </div>

                <div class="row-fluid margin-top-2">
                    <div class="col-md-12 margin-top-2">
                        <button type="button" class="btn btn-success form-control" id="enviar-formulario-servidor">Converter para Calendário Gregoriano</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="hidden" id="campo-de-resultados">
            <div id="resultados-input">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>D. Juliana</th>
                            <th>Data</th>
                            <th>Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="container-fluid margin-top-2">
                <form method="POST" id="csv-form" action="csv" target="_BLANK">
                    <input type="hidden" value="" id='csv-form-titulos' name="titulos" />
                    <input type="hidden" value="" id='csv-form-corpo' name="corpo" />
                    <button type="button" class="btn btn-success form-control" id="enviar-geracao-csv">Gerar CSV</button>
                </form>
            </div>
        </div>

    </div>
</div>
<script th:inline='javascript'>
    /*<![CDATA[*/
    (function() {
        ON_DAED.numberInputMinMax('.input-numerico');

        $('#input-data-juliana').change(function () {
            var dj = parseFloat($(this).val());
            if(isNaN(dj) || dj < 0) {
                $(this).val(0);
            } else if (dj > 30000000) {
                $(this).val(30000000);
            }
        });

        $('#enviar-formulario-servidor').click(function() {
            var entradaJuliana = $('#input-data-juliana').val();

            ON_DAED.astro('/calendario-gregoriano', {entradaJuliana: entradaJuliana}, function(dadosDeRetorno) {
                var row = "<tr><td>%ID%</td><td>%DATAJU%</td><td>%DATA%</td><td>%HORA%</td></tr>";

                var horas = dadosDeRetorno.hora;
                var minutos = dadosDeRetorno.minuto;
                var segundos = dadosDeRetorno.segundo;

                row = row.replace("%ID%", $('#resultados-input > table > tbody > tr').length + 1);
                row = row.replace("%DATA%", (parseInt(dadosDeRetorno.dia) < 10 ? '0' + dadosDeRetorno.dia : dadosDeRetorno.dia) + '/' + (parseInt(dadosDeRetorno.mes) < 10 ? '0' + dadosDeRetorno.mes : dadosDeRetorno.mes) + '/' + dadosDeRetorno.ano);
                row = row.replace("%HORA%", (parseInt(horas) < 10 ? '0' + horas : horas) + ":" + (parseInt(minutos) < 10 ? '0' + minutos : minutos) + ":" + (parseInt(segundos) < 10 ? '0' + segundos : segundos));
                row = row.replace("%DATAJU%", entradaJuliana);

                $('#resultados-input > table > tbody').append(row);
                $('#campo-de-resultados').removeClass('hidden');
                
                $('#resultados-input').animate({scrollTop: Infinity});
            });
            
        });

        ON_DAED.csv("#enviar-geracao-csv", "click");

        var dtAtual = new Date();
        var dj = ON_DAED.ASTRO.getJulianFromUnix(dtAtual.getTime());
        $('#input-data-juliana').val(dj).trigger('change');
        $('#enviar-formulario-servidor').trigger('click');
        
        var extData = '${param.dataJuliana}';
        
        if(!isNaN(parseFloat(extData))) {
            $('#input-data-juliana').val(extData);
            $('#enviar-formulario-servidor').trigger('click');
        }
        
        ON_DAED['3D'].START_RENDER = true;
    })();
    /*]]>*/
</script>