<h4>Calendário Gregoriano</h4>

<div class='dialog-image'>
    <img src="imgs/Gregory_XIII.jpg" />
    <figcaption>Papa Gregório XIII (1502-1585)</figcaption>
</div>

<p>Este calendário, utilizado até os dias de hoje, foi reformulado pelo Papa Gregório XIII
em 1582. A reforma do Calendário Juliano, proposta por Gregório XIII, foi realizada
uma vez que foram identificados pequenos ajustes a serem feitos no ano civil e ano
solar devido ao movimento orbital da Terra em torno do Sol.</p>

<p>O Calendário Gregoriano é utilizado em todos os países ocidentais. No entanto, um
grande número de países asiáticos e alguns africanos não utilizam esta forma de
contagem de tempo.</p>

<h4>Saiba mais</h4>

<a href="http://pt.wikipedia.org/wiki/Calend%C3%A1rio_gregoriano" target="_blank">http://pt.wikipedia.org/wiki/Calend%C3%A1rio_gregoriano</a>