<h3>Sistema Eclíptico de Coordenadas</h3>

<p>Este sistema de coordenadas utiliza como plano de referência o plano da órbita do
Sol ou plano da eclíptica. A origem da contagem dos ângulos é o ponto vernal. As
coordenadas eclípticas são a longitude eclíptica (&lambda;) e a latitude eclíptica (&beta;).</p>

<p><b>Longitude Eclíptica (&lambda;)</b> é a distância angular entre o ponto vernal e o círculo
máximo que passa pelo astro e pelos polos da eclíptica, medida no
sentido leste ao longo do plano da eclíptica.</p>

<p><b>Latitude Eclíptica (&beta;)</b> é a distância angular medida a partir do plano da
eclíptica ao longo do círculo máximo que passa pelo astro e pelos polos da
eclíptica.</p>

<p><b>Obliquidade da eclíptica (&epsilon;)</b> é o ângulo formado entre o plano do equador
    celeste e o plano da eclíptica.</p>

<p>Ponto Vernal ou Ponto de Áries ou Ponto Gama (&gamma;) é o ponto de interseção
    entre o plano do equador celeste e o plano da órbita do Sol.</p>

<h3>Saiba mais em:</h3>
<a href="http://pt.wikipedia.org/wiki/Sistema_ecl%C3%ADptico_de_coordenadas">http://pt.wikipedia.org/wiki/Sistema_eclíptico_de_coordenadas</a>