<style>

    #btn-tabua-mares {
        position: absolute;
        left: 160px;
        top: 1%;
    }
    
    @media(max-width: 550px) {
        #btn-tabua-mares {
            left: 120px;
        }
    }
    
    #carregando-tabua-mares {
        text-align: center;
    }
    
    #mares-seletor-porto {
        font-size: 0.8em;
    }
    
    .campo-form-mare {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    #mares-campo-data select {
        width: 30.5%;
        margin-left: 1%;
        display: inline-block;
        margin-right: 1%;
    }
    
    #tabua-mare-especifica {
        margin-top: 20px;
    }
    
    @media(max-height: 400px) {
        #ver-fase-atual-lua {
            display: none;
        }
    }
    
    #ver-fase-atual-lua {
        font-size: 2em;
    }

    .lua-ligado {
        color: #6fc992;
    }
    
    .lua-desligado {
        color: #ec5555;
    }
    
    .mare-distancia-input {
        width: 140px;
        text-align: right;
        display: inline-block;
    }
    
    .mare-distancia-label {
        width: 130px;
        text-align: left;
        display: inline-block;
    }
    
    #mares-agradecimento-marinha {
        color: #000000;
        text-align: center;
        width: 100%;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    #mares-informacao-nao-disponivel {
        color: #ec5555;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: justify;
    }

    #mares-data-nao-disponivel {
        font-weight: bold;
    }
    
    #parent-mares-escala-mar {
        position: absolute;
        top: 106px;
        left: 1%;
        color: #ffffff;
    }
    
    #parent-exibir-setas {
        position: absolute;
        top: 76px;
        left: 1%;
        color: #ffffff;
    }
    
    .label-slider {
        margin-left: 14px;
    }
    
    .dicas-de-uso-ferramenta {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    #flash-mudanca-camera {
        position: absolute;
        left: 45%;
        top: 15%;
        color: #ffffff;
    }
    
    #flash-mudanca-camera:hover {
        cursor: default;
    }
    
    #tabua-mare-ajuda {
        font-weight: bold;
        text-align: center;
    }
    
</style>