<h3>Previsão de Marés</h3>

<p>Historicamente, a previsão numérica dos níveis das marés, utilizando-se a Máquina de Kelvin, inventada na Inglaterra em 1880, começou a ser feita no Observatório Nacional, para o porto do Rio de Janeiro, por volta de 1912.  A partir de 1964 as Tábuas de Marés passaram a ser distribuídas pela Diretoria de Hidrografia e Navegação (DHN), órgão da Marinha do Brasil.</p>

<p>Este programa consulta automaticamente os dados disponibilizados na página da DHN para construir uma visualização que possa mostrar e explicar o fenômeno das marés utilizando as ferramentas do pacote ASTRO. A aplicação é capaz de simular os fatores astronômicos associados a maré líquida, como a posição do Sol e da Lua e obter uma aproximação visual das marés dos oceanos.</p>

<p>Os dados deste importante serviço são usados com foco educacional para toda a sociedade. A proposta visa também divulgar, numa cooperação, o trabalho que a Diretoria de Hidrografia e Navegação (DHN) desenvolve.</p>

<h3>Uso das Tábuas de Marés</h3>

<h4>Profundidade (C)</h4>

<p>Como mostra a figura abaixo, antes de decidir navegar por um certo local, data e hora, é necessário observar que, em qualquer instante, a profundidade (C) é igual a sondagem apresentada na Carta Náutica (D) adicionada à altura da maré (E): C=D+E
</p>

<p>A distância vertical (B), medida entre a quilha do navio e o fundo do mar, somada ao calado (A), dará a profundidade (C): C=B+A</p>
<p>O ecobatímetro é um aparelho de sondagem, instalado na superfície do mar, que mede o intervalo de tempo decorrido entre a emissão e recepção de um sinal sonoro. Conhecido o tempo e a velocidade de propagação do sinal sonoro, calcula-se a distância.</p>

<div class='dialog-image'>
    <img src="imgs/mares-sobre.png" />
    <figcaption>A distância (E) é fornecida pela Tábua de Maré e a distância (D) é fornecida pela Carta Náutica de cada local.</figcaption>
</div>

<h4>Nível de Redução (NR)</h4>

<p>O Nível de Redução é uma média de marés baixas observadas durante um certo período. Pode ser também definido como um nível tão baixo que a maré, em situações normais, não fique abaixo dele. Cada porto ou região tem a sua média de Nível de Redução, atualizado periodicamente utilizando-se os marégrafos.</p>

<p>O marégrafo é o instrumento que registra automaticamente o movimento das marés em um determinado ponto da costa.</p>

<p>Nas Tábuas de Marés, a média dos Níveis de Redução é chamado de maré zero (0).  Toda maré baixa, cuja previsão seja abaixo deste nível, é chamada de maré negativa e só ocorre em raras ocasiões em algumas regiões.</p>

<h3>Força de maré</h3>

<p>A força de maré é um efeito secundário à força da gravidade, pois a ação desta força
sobre uma grande massa não é constante em toda sua área. Um exemplo prático é a
influência gravitacional na água dos oceanos pelo próprio planeta e pela Lua,
formando assim as Marés dos Oceanos.</p>

<p>A maré oceânica formada nas fases da Lua Nova e Cheia tem maior amplitude devido
ao alinhamento do Sol e da Lua, conhecida por <i>Maré de Sizígia</i>. Já nas fases da Lua
Crescente e Minguante, a maré tem menor amplitude e é chamada de <i>Maré de
Quadratura</i>.</p>

<p>É importante notar que o bulbo contrário ao da maré oceânica é formado pelas
diferenças na aceleração da gravidade da Lua e do Sol e pelo fato de que essa força
gravitacional não é suficiente para remover a água do planeta.</p>

<div>Saiba mais em: <a href="https://pt.wikipedia.org/wiki/Mar%C3%A9">https://pt.wikipedia.org/wiki/Maré</a></div>