<h3>Movimentos da Terra</h3>

<p>Dos quatorzes movimentos conhecidos da Terra, os quatro principais podem ser
    visualizados neste programa. Pode-se acionar um movimento de cada vez ou vários
    movimentos conjugados para perceber os seus efeitos. Os movimentos não
    obedecem a uma escala real.</p>

<h3>Saiba mais em:</h3>

<a href="http://pt.wikipedia.org/wiki/Movimentos_da_Terra" target="_blank">http://pt.wikipedia.org/wiki/Movimentos_da_Terra</a>

<h3>Botões de Tela</h3>

<div class="btn-exemplo-ajuda">
    <div class="btn-group" role="group">
        <button class="btn btn-info" type="button" >Nutação</button>
        <button class="btn btn-info" type="button" >Precessão</button>
        <button class="btn btn-info" type="button" >Translação</button>
        <button class="btn btn-primary active" type="button" >Rotação</button>
    </div>
</div>

<p>Ao clicar em algum desses botões a ação é realizada. O botão muda o tom de
    sua cor quando é acionado. Para fins didáticos e de percepção de cada
    movimento, pode-se ligar e desligar individualmente cada botão ou fazer
    uma combinação deles. Assim os movimentos podem ser melhor
    explorados e compreendidos.</p>

<p>Ao clicar no botão <b>Rotação</b> visualiza-se o Movimento de Rotação da Terra.
    Esta ação define os dias e as noites ao longo das 24hs, convenção de tempo
    que a Terra leva para dar uma volta completa em torno do seu próprio eixo.</p>
    
<p>Ao clicar no botão <b>Translação</b> visualiza-se o Movimento de Translação da
    Terra. Este movimento define as estações do ano ao longo de 365 dias e 6
    horas, período de tempo que a Terra leva para dar uma volta completa em
    torno do Sol.</p>

<p>O botão <b>Precessão</b> clicado permite visualizar o Movimento de Precessão do
    Equinócios. Este movimento é perpendicular ao plano da órbita do Sol
    (Plano da Eclíptica), é levará cerca de 25.770 anos para realizar uma volta
    completa.</p>

<p>O botão <b>Nutação</b> aciona o Movimento de Nutação da Terra, que descreve
    uma figura geométrica cônica no céu. Verifica-se uma pequena oscilação
    periódica do eixo de rotação da Terra, causada principalmente pela força
    gravitacional que a Lua exerce sobre o nosso planeta. Portanto, enquanto o
    movimento de precessão pode ser descrito por uma linha regular, o de
    nutação faz com que essa linha oscile</p>

<div class="btn-exemplo-ajuda">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
        <button class="btn btn-success" type="button"><i class="glyphicon glyphicon-repeat"></i> <span>1</span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    </div>
</div>

<p>Este botão permite visualizar os movimentos em diversas velocidades. Note
    que os movimentos não obedecem a uma escala real, mas sim àquela
    estabelecida pelo usuário.</p>

<h3>Funções do Mouse</h3>

<ul>

    <li><b>Botão Esquerdo:</b> com este botão pode-se deslocar (rotação) a imagem do
        sistema.</li>

    <li><b>Botão de rolagem:</b> o programa permite aproximar ou afastar a imagem,
        bastando para isso girar este botão.</li>

</ul>