<h4>Movimentos da Terra</h4>

<p>Os movimentos da Terra mais conhecidos popularmente e estudados no ensino fundamental, são os de translação (em
    torno do Sol) e de rotação (em torno do seu próprio eixo). Mas existe outros dois
    importantes movimentos: Precessão dos Equinócios e Nutação.</p>

<h4>Precessão dos Equinócios</h4>

<div class='dialog-image'>
    <img src="imgs/precessao.jpg" />
</div>

<p>O movimento de Precessão recebe esse nome porque antecipa o momento em que
    ocorrem os equinócios do outono e da primavera, períodos quando o número de
    horas do dia é igual ao número de horas da noite. Assim, a cada ano, os instantes dos equinócios são
    antecipados em 20 minutos. Em dois mil anos, por exemplo, teremos um mês de
    diferença na ocorrência dos equinócios. O movimento de precessão é perpendicular
    ao plano da órbita do Sol (Plano da Eclíptica), é levará cerca de 25.770 anos para
    realizar uma volta completa.</p>

<p>Os dois equinócios anuais ocorrem quando o Sol cruza o equador celeste. Uma das
    consequências da Precessão é o fato dos polos não apontarem sempre para o mesmo
    ponto do céu.</p>

<p>O movimento de precessão não tem qualquer influência sobre as estações do ano.
    No entanto, do ponto de vista astronômico, tem grande relevância, uma vez que,
    atualmente, os equinócios acontecem quando o Sol está aparentemente se
    deslocando sobre a constelação de Áries. Porém, na antiguidade, ele teria realizado
    seu movimento sobre a constelação de Peixes.</p>

<h4>Saiba Mais</h4>

<div><a href="http://pt.wikipedia.org/wiki/Precess%C3%A3o_dos_equin%C3%B3cios" target="_blank">http://pt.wikipedia.org/wiki/Precessão_dos_equinócios</a></div>

<h4>Nutação</h4>

<div class='dialog-image'>
    <img src="imgs/nutacao.jpg" />
</div>

<p>Associado ao movimento de Precessão, o movimento de Nutação descreve
    uma figura geométrica cônica no céu. A Nutação é uma pequena oscilação periódica
    do eixo de rotação da Terra com um ciclo de 18,6 anos. Ela é causada pela força
    gravitacional que a Lua exerce sobre a Terra. Portanto, enquanto a precessão pode
    ser descrita como se fosse uma linha regular, a Nutação faz com que essa linha oscile.</p>

<p>Diz-se, então, que a Nutação é a componente de pequeno período da Precessão.
    Foi James Bradley (1693-1762) que em 1728 encontrou o efeito da Nutação
    enquanto trabalhava na sua pesquisa sobre a determinação precisa de coordenadas
    celestes de um conjunto de estrelas.</p>

<h4>Saiba Mais</h4>

<div><a href="http://pt.wikipedia.org/wiki/Nuta%C3%A7%C3%A3o" target="_blank">http://pt.wikipedia.org/wiki/Nutação</a></div>