<h3>Solução da Equação de Kepler</h3>

<p>A Equação de Kepler, formulada pelo matemático e astrônomo Johannes Kepler
(1571-1630), determina a Anomalia Média (M) e Anomalia Verdadeira (V) a partir
da Anomalia Excêntrica (E). É possível, por meios não elementares, calcular a
Anomalia Excêntrica a partir da Anomalia Média.</p>

<p>Esta equação relaciona informações geométricas (Anomalia Excêntrica e
Excentricidade orbital (e)) com informações dinâmicas (Anomalia Média e
Anomalia Verdadeira). Seu uso mais comum é, a partir de <b>M</b> e <b>e</b>, resolver <b>E</b>. Esta é
uma equação transcendente, porém existem métodos que resolvem este problema
por aproximações sucessivas.</p>

<h3>Saiba mais em:</h3>
<a href="http://pt.wikipedia.org/wiki/Equa%C3%A7%C3%A3o_de_Kepler" target="_blank">http://pt.wikipedia.org/wiki/Equação_de_Kepler</a>