<div class="btn-exemplo-ajuda">
    <div class="btn-group" role="group">
        <button class="btn btn-info" type="button" >Nutação</button>
        <button class="btn btn-info" type="button" >Precessão</button>
        <button class="btn btn-info" type="button" >Translação</button>
        <button class="btn btn-primary active" type="button" >Rotação</button>
    </div>
</div>

<p>Ao clicar em algum desses botões a ação é realizada. O botão muda o tom de
    sua cor quando é acionado. Para fins didáticos e de percepção de cada
    movimento, pode-se ligar e desligar individualmente cada botão ou fazer
    uma combinação deles. Assim os movimentos podem ser melhor
    explorados e compreendidos.</p>

<div class="btn-exemplo-ajuda">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
        <button class="btn btn-success" type="button"><i class="glyphicon glyphicon-repeat"></i> <span>1</span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    </div>
</div>

<p>Este botão permite visualizar os movimentos em diversas velocidades. Note
    que os movimentos não obedecem a uma escala real, mas sim àquela
    estabelecida pelo usuário.</p>

<h3>Funções do Mouse</h3>

<ul>

    <li><b>Botão Esquerdo:</b> com este botão pode-se deslocar (rotação) a imagem do
        sistema.</li>

    <li><b>Botão de rolagem:</b> o programa permite aproximar ou afastar a imagem,
        bastando para isso girar este botão.</li>

</ul>