<h4>Tempo Universal Coordenado (sigla em inglês UTC)</h4>

<p>A base de tempo que usamos no nosso cotidiano chama-se Hora Civil, cuja
    referência é a posição média do Sol no céu local. Como a duração do dia solar não é
    constante durante o ano, existe uma diferença entre a hora solar verdadeira e a hora
    civil.</p>

<p>Essa diferença é devida as contínuas variações irregulares na velocidade de rotação
    da Terra. O UTC é uma escala de tempo proveniente do Tempo Atômico
    Internacional (TAI). O UTC é a base de tempo mundial.</p>

<p>O TAI é determinado pelo Bureau International des Poids et Mesures (BIPM) usando
    o valor médio da hora a partir da rede mundial de relógios atômicos.</p>

<h4>Saiba Mais</h4>

<a href="http://pt.wikipedia.org/wiki/Tempo_Universal_Coordenado" target="_blank">
    http://pt.wikipedia.org/wiki/Tempo_Universal_Coordenado
</a>