<h4>Data Juliana</h4>

<p>A data juliana (DJ) ou dia juliano é um sistema de contagem contínua do número de
    dias sem a distinção de semanas, meses ou anos. A data juliana foi proposta em 1583
    por Joseph Justus Scaliger.</p>

<div class='dialog-image'>
    <img src="imgs/Scaliger.jpg" />
    <figcaption>Joseph Justus Scaliger (1540-1609)</figcaption>
</div>

<p>Os astrônomos utilizam a DJ como base de contagem de tempo para registrar as
    observações de fenômenos astronômicos. A vantagem de utilizar esse sistema é que
    cada dia inicia ao meio-dia e vai até o meio-dia seguinte, ou seja, as observações
    noturnas, na sua maioria, são registradas numa mesma data.</p>

<h4>Saiba Mais</h4>

<a href="http://pt.wikipedia.org/wiki/Data_juliana" target="_blank">
    http://pt.wikipedia.org/wiki/Data_juliana
</a>