<div th:fragment="creditos"> 

    <style>

        #creditos-logo {
            text-align: center;
        }

        #creditos-copywrite {
            text-align: center;
            margin-top: 10px;
        }

        .credito-destaque {
            font-weight: bold;
        }

        #creditos-juridico {
            font-weight: bold;
            text-align: center;
            margin-top: 10px;
            color: #f00;
        }

    </style>

    <div class='credito-destaque'>Desenvolvimento do Software</div>
    <div>Carlos Henrique Veiga, Caio Siqueira da Silva e Cosme Ferreira da Ponte Neto</div>

    <br />
    
    <div class='credito-destaque'>Identidade Visual</div>
    <div>Vanessa Araújo Santos</div>

    <br />
    
    <div class='credito-destaque'>Colaboradores</div>
    <div>Constantino de Mello Motta e João Luiz Kohl Moreira</div>

    <br />

    <div>Endereço eletrônico (<a href="mailto:daed@on.br">daed@on.br</a>)</div>
    <div>Repositório Git (<a href="https://github.com/csiqueirasilva/ASTRO">https://github.com/csiqueirasilva/ASTRO</a>)</div>

    <br />

    <div>Endereço do Observatório Nacional</div>
    <div>Rua General José Cristino, 77 - São Cristóvão</div>
    <div>Rio de Janeiro - CEP: 20921-400</div>
    <div>Tel(PABX): (21) 3504-9100</div>
    <div><a href="http://www.on.br">www.on.br</a></div>

    <br />

    <div id="creditos-logo">
        <a href="http://www.on.br/conteudo/modelo.php?endereco=divulgacao_cientifica/divulgacao_cientifica.html">
            <img width="33.3%" src="imgs/logo-DAED.png" />
        </a>
    </div>

    <div id="creditos-copywrite">
        <div>© 1987-2015 Todos os direitos reservados ao Observatório Nacional</div>
    </div>

    <div id="creditos-juridico">As informações contidas no software ASTRO não podem ser utilizadas
        como meio de prova judicial ou extrajudicial tendo em vista tratar-se
        de um projeto científico com foco nos valores educacionais e pautado
        em bases de pesquisa.</div>

</div>