<h2>Magnetismo Terrestre</h2>

<p>O princípio básico do funcionamento das bússolas continua sendo de grande importância para a ciência. Afinal, estudos sobre o magnetismo terrestre ou geomagnético podem revelar informações preciosas sobre o interior do nosso planeta; das dinâmicas internas que geram o campo magnético que nos circunda; sobre diferentes níveis de interação entre a Terra e o Sol; e, também, esse conhecimento ganha grande importância econômica, uma vez que pode ser empregado em processos estratégicos de prospecção mineral.</p>

<h2>Cartas Magnéticas</h2>

<p>Esse programa possui a capacidade de exportar os mapas e informações observados em cartas magnéticas. Dessa maneira, é possível criar documentos com os gráficos de declinação, inclinação e intensidade e suas respectivas variações seculares.</p>

<p>Veja abaixo um clipe que explica como encontrar o Norte Geográfico Verdadeiro a partir da
    correção da carta de declinação gerada no programa e uma Bússola.</p>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/3DMVVnt175U?rel=0&amp;nologo=1&amp;showinfo=0">
    </iframe>
</div>

<h2>Elementos do Campo Geomagnético</h2>

<h3>Declinação Magnética</h3>

<p>A diferença angular entre a direção do polo geográfico e a direção indicada pela bússola recebe o nome de declinação magnética. Essa declinação muda de acordo com o local onde estamos na superfície do planeta e muda também ao longo do tempo.</p>

<p>Existem algumas distorções no campo magnético da Terra que fazem ele não ser perfeitamente simétrico em relação ao eixo de rotação do nosso planeta. Isso quer dizer que os polos geomagnéticos não coincidem com os polos geográficos.</p>

<p>Essa assimetria é um dos fatores que fazem com que a bússola, quando usada na maioria dos locais da Terra, não aponte exatamente para o polo geográfico.</p>

<h2>Inclinação Magnética</h2>

<p>A Terra é circundada por um campo magnético que é usualmente representado por linhas de força. Esse campo é gerado no núcleo externo do planeta e as linhas de força ficam em posições inclinadas em relação ao plano horizontal da superfície. Essa inclinação muda com a latitude segundo uma lei matemática conhecida. Por esse motivo, a medida da inclinação do campo geomagnético permite determinar, com uma boa aproximação, a latitude no local da medida. Esse dado é importante para fins de orientação geográfica. A inclinação magnética também varia com o tempo</p>
	
<p>A inclinação magnética pode ser medida por um instrumento chamado bússola de inclinação.</p>

<h2>Intensidade</h2>

<p>A intensidade do campo geomagnético muda de acordo com o local onde estamos na superfície do planeta. Existe uma relação entre a latitude e a intensidade do campo.  O campo magnético é mais intenso próximo aos polos geográficos e menos intenso na região do equador.</p>

<p>Existem algumas regiões da Terra onde a intensidade do campo difere do padrão esperado para um campo dipolar, como o da Terra. Estas regiões são chamadas de anomalias magnéticas e a mais importante delas é a chamada “Anomalia do Atlântico Sul”, que atualmente se localiza  no  ao sul da América do Sul. Nesta região o campo geomagnético tem a menor intensidade de em toda a superfície do nosso planeta. A intensidade do campo geomagnético também varia com o tempo. O instrumento que mede a intensidade do campo magnético é chamado magnetômetro.</p>

<h3>Saiba Mais em:</h3>

<p><a href="https://pt.wikipedia.org/wiki/Teoria_do_dínamo">https://pt.wikipedia.org/wiki/Teoria_do_dínamo</a></p>

<p><a href="https://pt.wikipedia.org/wiki/Magnetosfera">https://pt.wikipedia.org/wiki/Magnetosfera</a></p>

<p><a href="https://pt.wikipedia.org/wiki/Vento_solar">https://pt.wikipedia.org/wiki/Vento_solar</a></p>

<div id="agradecimento-constantino">A Divisão de Atividades Educacionais agradece imensamente ao Prof. Constantino de Mello Motta pelo apoio na atualização deste importante trabalho, realizado por ele desde 1976 e que agora é disponibilizado no site do Observatório Nacional.</div>