<h2>Magnetismo Terrestre</h2>

<p>O princípio básico por trás do funcionamento das bússolas continua sendo de
grande importância para a ciência. Afinal, estudos sobre o magnetismo terrestre ou
geomagnético podem revelar informações preciosas acerca do interior de nosso
planeta; das dinâmicas internas que geram o campo magnético que nos circunda;
sobre diferentes níveis de interação entre a Terra e o Sol; e, também, esse
conhecimento ganha grande importância econômica, uma vez que pode ser
empregado em processos estratégicos de prospecção mineral.</p>

<p>As cartas magnéticas do Brasil são publicadas pelo Observatório Nacional e veiculam
os parâmetros do campo geomagnético em todo o território nacional, fundamental
para determinações geográficas e correções de dados magnéticos empregados na
exploração de recursos minerais, entre outros. As cartas isogônicas são mapas que
indicam o valor de parâmetros do campo magnético terrestre em uma região e
durante uma determinada época. São eles: Declinação, Inclinação, Intensidade e suas
variações seculares, respectivamente.</p>