<h2>Magnetismo Terrestre</h2>

<p>O princípio básico do funcionamento das bússolas continua sendo de grande importância para a ciência. Afinal, estudos sobre o magnetismo terrestre ou geomagnético podem revelar informações preciosas sobre o interior do nosso planeta; da dinâmica interna que gera o campo magnético que nos circunda; sobre diferentes níveis de interação entre a Terra e o Sol; e, também, esse conhecimento ganha grande importância econômica, uma vez que pode ser empregado em processos estratégicos de prospecção mineral.</p>

<h2>Os mapas</h2>

<p>Os mapas gerados neste programa são produzidos por meio de um modelo matemático chamado IGRF (International Geomagnetic Reference Field). Este modelo permite que se calcule o campo geomagnético e suas variações temporal, em qualquer ponto do nosso planeta. O modelo é ajustado a partir dos dados coletados por observatório geomagnéticos instalados na superfície da Terra e por dados de satélites artificiais. Para manter a precisão, o modelo deve ser atualizado a cada cinco anos.</p>

<p>Os mapas mostram linhas de isovalores (linhas de mesmo valor). Ao longo destas linhas, os elementos do campo geomagnético selecionados (Declinação, Inclinação ou Intensidade) tem o mesmo valor.</p>

<h4>Como corrigir a bússola?</h4>

<p>A bússola é o instrumento que indica a direção e o sentido do campo geomagnético local, contudo esta direção não corresponde à direção norte-sul geográfica. O desvio angular entre estas duas direções é a “declinação magnética”. Para que possamos usar a bússola como instrumento de orientação e navegação precisamos corrigir este desvio.</p>

<p>A correção deve ser feita da seguinte forma:</p>

<ul>
	<li>Primeiro devemos verificar o sinal da declinação magnética.</li>

	<li>Nos locais onde a declinação é negativa (todo o Brasil), a direção norte-sul geográfica pode ser encontrada corrigindo-se com o valor da declinação magnética e no sentido horário, a direção norte-sul magnética.</li>

	<li>Nos locais onde a declinação é positiva, a direção norte-sul geográfica pode ser encontrada corrigindo-se com o valor da declinação magnética e no sentido anti-horário, a direção norte-sul magnética.</li>
</ul>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/J5bzSPJc5G8?rel=0&amp;nologo=1&amp;showinfo=0">
    </iframe>
</div>

<h2>Elementos do Campo Geomagnético</h2>

<h3>Declinação Magnética</h3>

<p>A diferença angular entre a direção do polo geográfico e a direção indicada pela bússola recebe o nome de declinação magnética. Essa declinação muda de acordo com o local onde estamos na superfície do planeta e muda também ao longo do tempo.</p>

<p>Existem algumas distorções no campo magnético da Terra que fazem ele não ser perfeitamente simétrico em relação ao eixo de rotação do nosso planeta. Isso quer dizer que os polos geomagnéticos não coincidem com os polos geográficos.</p>

<p>Essa assimetria é um dos fatores que fazem com que a bússola, quando usada na maioria dos locais da Terra, não aponte exatamente para o polo geográfico.</p>

<h2>Inclinação Magnética</h2>

<p>A Terra é circundada por um campo magnético que é usualmente representado por linhas de força. Esse campo é gerado no núcleo externo do planeta e as linhas de força ficam em posições inclinadas em relação ao plano horizontal da superfície. Essa inclinação muda com a latitude segundo uma lei matemática conhecida. Por esse motivo, a medida da inclinação do campo geomagnético permite determinar, com uma boa aproximação, a latitude no local da medida. Esse dado é importante para fins de orientação geográfica. A inclinação magnética também varia com o tempo.</p>
	
<p>A inclinação magnética pode ser medida por um instrumento chamado bússola de inclinação.</p>

<h2>Intensidade</h2>

<p>A intensidade do campo geomagnético muda de acordo com o local onde estamos na superfície do planeta. Existe uma relação entre a latitude e a intensidade do campo. O campo magnético é mais intenso próximo aos polos geográficos e menos intenso na região do equador.</p>

<p>Existem algumas regiões da Terra onde a intensidade do campo difere do padrão esperado para um campo dipolar, como o da Terra. Estas regiões são chamadas de anomalias magnéticas e a mais importante delas é a chamada “Anomalia do Atlântico Sul”, que atualmente se localiza ao sul da América do Sul. Nesta região o campo geomagnético tem a menor intensidade de toda a superfície do nosso planeta. A intensidade do campo geomagnético também varia com o tempo. O instrumento que mede a intensidade do campo magnético é chamado magnetômetro.</p>

<h3>Saiba Mais em:</h3>

<p><a href="https://pt.wikipedia.org/wiki/Teoria_do_dínamo">https://pt.wikipedia.org/wiki/Teoria_do_dínamo</a></p>

<p><a href="https://pt.wikipedia.org/wiki/Magnetosfera">https://pt.wikipedia.org/wiki/Magnetosfera</a></p>

<p><a href="https://pt.wikipedia.org/wiki/Vento_solar">https://pt.wikipedia.org/wiki/Vento_solar</a></p>

<div id="agradecimento-constantino">A Divisão de Atividades Educacionais agradece imensamente ao Prof. Constantino de Mello Motta pelo apoio na atualização deste importante trabalho, realizado por ele desde 1976 e que agora é disponibilizado no site do Observatório Nacional.</div>