<h3>Sistema Supergaláctico de Coordenadas</h3>

<p>Supergaláticas são coordenadas em um sistema esférico que foi concebido para ter seu
equador alinhado com o plano supergalático, uma grande estrutura no universo local
formada pela distribuição preferencial de aglomerados de galáxias próximas (como o
Aglomerado de Virgem, o Grande Atrator e o Complexo de Superaglomerados PeixesBaleia).</p>

<p><b>Longitude supergalática</b> (L) e <b>Latitude supergalática</b> (B) são geralmente
indicados por SGB e SGL. A origem de contagem da Longitude supergalática é
definida pela intersecção do plano supergalático com o plano galáctico.</p>

<h3>Saiba mais em:</h3>
<a target="_blank" href="http://pt.wikipedia.org/wiki/Sistema_supergal%C3%A1ctico_de_coordenadas">http://pt.wikipedia.org/wiki/Sistema_supergaláctico_de_coordenadas</a>