<script>
    var baseDeDadosGalaxias;

    $.ajax({
        dataType: "json",
        url: 'js/daed/galaxias.json',
        success: function (data) {
            baseDeDadosGalaxias = data;
        },
        async: false
    });
</script>

<link rel="stylesheet" type="text/css" href="css/jquery.qtip.min.css">

<script src="js/three.min.js"></script>
<script src="js/OrbitControls.js"></script>
<script src="js/stats.min.js"></script>
<script src="js/tween.min.js"></script>
<script src="js/imagesloaded.pkg.min.js"></script>
<script src="js/jquery.qtip.min.js"></script>
<script src="js/ThreeHelper.js"></script>
<script src="js/MathHelper.js"></script>
<script src="js/subdiv.js"></script>
<script src="js/daed/3D.js"></script>

<style>
    .galaxia-qtip {
        width: 400px;
        text-align: justify;
    }
</style>

<h1 class="titulo-widget">Obter Coordenadas Galácticas</h1>

<div id="campo-de-observacao" class="row-fluid">
</div>

<div class="row-fluid margin-top-2">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <div class="row-fluid">

                    <div class="margin-top-2 col-md-12">

                        <div class="row-fluid">
                            <div class="col-md-12">
                                <select id="escolha-coordenadas" class="form-control">
                                    <option value="entrada-galactica">Entrar Coordenadas Galácticas</option>
                                    <option value="entrada-equatorial">Converter a partir de coordenadas Equatoriais</option>
                                    <option value="entrada-ecliptica">Converter a partir de coordenadas Eclípticas</option>
                                    <option value="entrada-coordenada-horizontal">Converter a partir de coordenadas Horizontais</option>
                                    <option value="entrada-horaria">Converter a partir de coordenadas Horárias</option>
                                </select>
                            </div>
                        </div>

                        <jsp:include page="fragmentos/entrada-coordenada-galactica.jsp" />
                        <jsp:include page="fragmentos/entrada-coordenada-ecliptica.jsp" />
                        <jsp:include page="fragmentos/entrada-coordenada-horaria.jsp" />
                        <jsp:include page="fragmentos/entrada-coordenada-horizontal.jsp" />
                        <jsp:include page="fragmentos/entrada-coordenada-equatorial.jsp" />

                        <div class="row-fluid margin-top-2">
                            <div class="col-md-12 margin-top-2">
                                <button type="button" class="btn btn-success form-control" id="enviar-formulario-obter-coordenadas">Visualizar</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </form>

    </div>
</div>


<script>
    (function () {

        mouse = {x: 0, y: 0};

        document.addEventListener('mousemove', function (e) {
            mouse.x = e.clientX || e.pageX;
            mouse.y = e.clientY || e.pageY;
        }, false);

        var tipoPagina = '${tipoCoordenadaGalactica}';

        $('#escolha-coordenadas').change(function () {
            var value = $('#escolha-coordenadas').val();
            $('.entrada-coordenadas').hide();
            $('#' + value).show();
        }).trigger('change');

        $('#coordenada-galactica-longitude-local').parent().remove();
        $('#coordenada-galactica-latitude-local').parent().remove();
        $('#coordenada-galactica-tempo-sideral').parent().remove();

        $('#coordenada-ecliptica-tempo-sideral').parent().remove();
        $('#coordenada-ecliptica-longitude-local').parent().remove();
        $('#coordenada-ecliptica-latitude-local').parent().remove();

        $('#coordenada-equatorial-tempo-sideral').parent().remove();
        $('#coordenada_latitude_local').parent().remove();
        $('#coordenada_longitude_local').parent().remove();

        $('#coordenada-horaria-latitude').parent().remove();

        $('#enviar-formulario-obter-coordenadas').click(function () {

             var sendData = parseAllData();

            var selecionado = $('#escolha-coordenadas').val();

            var latitude;
            var longitude;

            if (selecionado === "entrada-galactica") {
                longitude = (Math.PI / 180) * parseFloat($('#input-entrada-galactica-longitude-hidden').val());
                latitude = (Math.PI / 180) * parseFloat($('#input-entrada-galactica-latitude-hidden').val());

                if (ON_DAED["WEBGL_SUPPORT"]) {
                    galaxias.coordenadasGalacticas(longitude, latitude);
                } else {
                    preencherDados({
                        latitudeGalactica: longitude,
                        longitudeGalactica: latitude
                    });
                }
            } else {
                var tipoConversao;

                if (selecionado === "entrada-coordenada-horizontal") {
                    tipoConversao = '${tipoCoordenadaHorizontal}';
                } else if (selecionado === "entrada-horaria") {
                    tipoConversao = '${tipoCoordenadaHoraria}';
                } else if (selecionado === "entrada-ecliptica") {
                    tipoConversao = '${tipoCoordenadaEcliptica}';
                } else if (selecionado === "entrada-equatorial") {
                    tipoConversao = '${tipoCoordenadaEquatorial}';
                }

                $('#escolha-coordenadas').find('input.btn').prop('disabled', true);

                ON_DAED.astro(
                        '/conversao/' + tipoConversao + '-' + tipoPagina,
                        sendData,
                        function (data) {
                            if (ON_DAED["WEBGL_SUPPORT"]) {
                                galaxias.coordenadasGalacticas(data.longitudeGalactica, data.latitudeGalactica);
                            } else {
                                preencherDados(data);
                            }
                        },
                        function () {
                            $('#escolha-coordenadas').find('input.btn').prop('disabled', false);
                        });
            }
        });

        var galaxias;

        ON_DAED["3D"].create(function (scene, camera) {
            galaxias = ON_DAED["3D"].SistemaSolar(scene, camera, {planoGalactico: true, galaxias: baseDeDadosGalaxias});
            galaxias.addControlePlanos($('#campo-de-observacao'));
        }, function (cameraControl, renderer, scene, camera, stats, clock) {
            cameraControl.update(clock.getDelta());

            if ($('#campo-de-observacao canvas').is(':hover')) {
                cameraControl.enabled = true;
            } else {
                cameraControl.enabled = false;
            }

            ON_DAED["3D"].update();
            ThreeHelper.updateText(camera, $('#campo-de-observacao')[0]);
            TWEEN.update();

            renderer.clear();
            renderer.render(scene, camera);
            renderer.clearDepth();
            renderer.render(galaxias.cenaInformacao, camera);
        }, document.getElementById('campo-de-observacao'),
                function (camera, renderer, scene, stats) {
                    var control = new THREE.OrbitControls(camera);

                    var mouse = new THREE.Vector2();
                    var projector = new THREE.Projector();
                    var intersected;

                    var element = renderer.domElement;

                    // MOUSE
                    function onDocumentMouseMove(event) {
                        var x = event.clientX - parseInt($(element).offset().left);
                        var y = event.clientY - parseInt($(element).offset().top);

                        mouse.x = (x / element.offsetWidth) * 2 - 1;
                        mouse.y = -(y / element.offsetHeight) * 2 + 1;

                        var vector = new THREE.Vector3(mouse.x, mouse.y, 0.5);
                        projector.unprojectVector(vector, camera);
                        var raycaster = new THREE.Raycaster(camera.position, vector.sub(camera.position).normalize());
                        var intersections = raycaster.intersectObjects(ON_DAED["3D"].objects, true);

                        if (intersections.length > 0) {
                            if (intersected !== intersections[ 0 ].object) {
                                if (intersected) {
                                    if (intersected.mout instanceof Function) {
                                        intersected.mout(event, intersected);
                                    }
                                }

                                $('body').css('cursor', 'auto');
                            }

                            intersected = intersections[ 0 ].object;
                            $('body').css('cursor', 'pointer');

                            if (intersected.mover instanceof Function) {
                                intersected.mover(event, intersected);
                            }
                        } else if (intersected) {
                            if (intersected.mout instanceof Function) {
                                intersected.mout(event, intersected);
                            }
                            $('body').css('cursor', 'auto');
                            intersected = null;
                        } else {
                            $('body').css('cursor', 'auto');
                        }
                    }

                    $('#campo-de-observacao').bind('mousemove', onDocumentMouseMove);

                    function onMouseOut(event) {
                        if (('.qtip:visible').length > 0) {
                            $('.qtip').qtip('hide');
                        }

                        $('body').css('cursor', 'auto');
                    }

                    $('#campo-de-observacao').bind('mouseout', onMouseOut);

                    function onClick(event) {
                        if (intersected && intersected.mclick instanceof Function) {
                            intersected.mclick(event, intersected);
                        }
                    }

                    $('#campo-de-observacao').bind('click', onClick);

                    renderer.autoClear = false;

                    control.noPan = false;
                    control.noZoom = false;
                    return control;
                });

        var extLongitude = parseFloat('${param.longitude}');
        var extLatitude = parseFloat('${param.latitude}');

        if (!isNaN(extLongitude) && !isNaN(extLatitude)) {

            $(document).ready(function () {

                tempoSideralLoadInput('#input-entrada-galactica-longitude', extLongitude);
                tempoSideralLoadInput('#input-entrada-galactica-latitude', extLatitude);

                $('#enviar-formulario-obter-coordenadas').trigger('click');
            });

        }

    })();
</script>