<%-- 
    Document   : passeio-virtual
    Created on : Dec 3, 2014, 3:07:13 AM
    Author     : csiqueira
--%>

<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Astro - Passeio</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="Observatório Nacional">

        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/locales/bootstrap-datepicker.pt-BR.js"></script>
        <script src="js/anglepicker.js"></script>
        <script src="lib/on-daed-js/geral.js"></script>

        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        <link href="css/bootstrap-responsive.css" rel="stylesheet"/>

        <link href="css/anglepicker.css" rel="stylesheet"/>
        <link href="css/datepicker3.css" rel="stylesheet"/>
        <link href="css/jquery-ui.structure.min.css" rel="stylesheet"/>
        <link href="css/jquery-ui.theme.min.css" rel="stylesheet"/>

        <link href="http://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">

        <script src="js/three.min.js"></script>
        <script src="js/FlyControls.js"></script>
        <script src="js/stats.min.js"></script>
        <script src="js/tween.min.js"></script>
        <script src="js/ThreeHelper.js"></script>
        <script src="lib/on-daed-js/MathHelper.js"></script>
        <script src="lib/on-daed-js/3D.js"></script>

    </head>
    <body id="body-container">
        <script>
            (function () {
                ON_DAED["3D"].create(function (scene, camera) {
                    referencial = ON_DAED["3D"].PasseioVirtual(scene, camera);
                    $('canvas').height(window.innerHeight);
                    $(window).trigger('resize');
                }, function (cameraControl, renderer, scene, camera, stats, clock) {
                    cameraControl.update(clock.getDelta());
                    ON_DAED["3D"].update();
                    ThreeHelper.updateText(camera, $('#body-container')[0]);
                    TWEEN.update();
                    renderer.render(scene, camera);
                }, document.getElementById('body-container')
                        ,
                        function (camera, renderer, scene, stats) {
                            var c = new THREE.FlyControls(camera);
                            c.rollSpeed = 0.2;
                            c.movementSpeed = 80;
                            return c;
                        }
                );
            })();
        </script>

    </body>
</html>
