<h3>Sistema Horizontal de Coordenadas</h3>

<p>Para exemplificar, usamos as coordenadas de Antares (ascensão reta
    (&alpha;)=16h 29m 25s e declinação (&delta;)=-26° 25' 55"), estrela gigante vermelha localizada
    na constelação de Escorpião, 883 vezes maior que o Sol.</p>

<p>O Equador Celeste ou de referência, utilizado neste programa, é o da época 1 de
    janeiro de 2000 às 12h, também conhecido como J2000.</p>

<div class="btn-exemplo-ajuda">
    <button id="exemplo-btn" type="button" class="btn btn-primary">Veja o exemplo</button>
</div>

<h3>Saiba mais em:</h3>

<a href="http://pt.wikipedia.org/wiki/Antares" target="_blank">http://pt.wikipedia.org/wiki/Antares</a>

<script th:inline='javascript'>
    /*<![CDATA[*/
    $('#exemplo-btn').click(function () {
        $('#escolha-coordenadas').val('EQUATORIAL').trigger('change');
        $('#coordenada_ascensao_reta').anglepicker('value', ON_DAED.tempoSideralRadiano(16, 29, 25));
        $('#coordenada_declinacao').anglepicker('value', ON_DAED.parseTempoSideral(-26, -25, -55) * 2);

        $('#enviar-formulario-obter-coordenadas').trigger('click');
        $('.modal').modal('hide');
    });
    /*]]>*/
</script>

<div th:include="descricoes/botao-visualizacao-esfera-celeste-coordenadas :: texto('Inserir Coordenadas', 'Permite inserir, para visualizar ou determinar, as Coordenadas
       Horizontais a partir de outros sistemas de coordenadas: Eclíptico,
       Equatorial, Galáctico e Supergaláctico.')">
</div>