<h3>Sistema Horizontal de Coordenadas</h3>

<p>O Sistema Horizontal ou altazimutal de coordenadas utiliza como plano
fundamental o horizonte. As coordenadas horizontais são azimute e altura.</p>

<div class='dialog-image'>
    <img src="imgs/sistema-horizontal.jpg" />
</div>

<p><b>Azimute (A)</b>: é o ângulo medido sobre o horizonte do observador, no sentido
horário (Norte-Leste-Sul-Oeste), com origem no Norte geográfico e fim no círculo
vertical do astro (<i class="glyphicon glyphicon-star"></i>). O azimute varia entre 0° e 360°.</p>

<p><b>Altura (h)</b>: é o ângulo medido sobre o círculo vertical do astro, com origem no
horizonte do observador e fim no astro (<i class="glyphicon glyphicon-star"></i>). A altura varia entre -90° e +90°.</p>

<p>O sistema horizontal é um sistema <b>local</b>, ou seja, fixo na Terra. As coordenadas
azimute e altura (ou azimute e distância zenital) dependem do lugar e do instante
da observação.</p>

<h3>Saiba Mais em:</h3>
<a href="http://pt.wikipedia.org/wiki/Sistema_horizontal_de_coordenadas" target="_blank">http://pt.wikipedia.org/wiki/Sistema_horizontal_de_coordenadas</a>

<h3>Distância Zenital</h3>

<p>É o ângulo medido sobre o círculo vertical do astro, com origem no zênite (Z) e fim
    no astro (<i class="glyphicon glyphicon-star"></i>). A distância zenital varia entre 0° e 180°.</p>

<div class='dialog-image'>
    <img src="imgs/coohor.gif" />
    <figcaption>A Distância Zenital é determinada por: Z= 90°- h</figcaption>
</div>

<p><b>h (altura do astro)</b>: é o ângulo medido sobre o círculo vertical do astro (<i class="glyphicon glyphicon-star"></i>), com
origem no horizonte e fim no astro. A altura varia entre -90° e +90°. O complemento da
altura se chama Distância Zenital (Z).</p>

<p><b>Zênite</b>: é o ponto no qual a vertical do lugar (perpendicular ao horizonte)
 intercepta a esfera celeste, acima da cabeça do observador.</p>

<p><b>Nadir</b>: é o ponto diametralmente oposto ao Zênite.</p>

<h3>Saiba mais em:</h3>
<a href="http://astro.if.ufrgs.br/coord.htm" target="_blank">http://astro.if.ufrgs.br/coord.htm</a>