<h3>Sistema Galáctico de Coordenadas</h3>

<p>Este sistema de coordenadas celestes tem como plano de referência ou fundamental
o plano do disco da Via Láctea. Este plano é inclinado de 63° em relação ao Equador
Celeste. O ano galáctico tem duração de 220 milhões de anos, sendo definido como
o tempo que o Sol leva para dar uma volta completa em torno do centro da galáxia.</p>

<p><b>Longitude galáctica (l)</b> é a distância angular medida ao longo do plano
galático, variando de 0° a 360° para leste a partir da direção do centro
galático.</p>

<p><b>Latitude galáctica (b)</b> é a distância angular medida perpendicularmente ao
plano galáctico, variando de -90° a +90°, respectivamente nas direções sul e
norte.</p>

<h3>Saiba mais em:</h3>
<a target="_blank" href="http://pt.wikipedia.org/wiki/Sistema_gal%C3%A1ctico_de_coordenadas">http://pt.wikipedia.org/wiki/Sistema_galáctico_de_coordenadas</a>