<h3>Eclipses Solares e Lunares</h3>

<p>O programa permite ao público visualizar em que regiões do planeta acontecerá um
eclipse solar ou lunar. O modelo utilizado para fazer as previsões garante uma
precisão de ±0,36 minutos, com uma incerteza máxima de 1,1 minutos de tempo.</p>

<p>A sombra projetada no globo terrestre é uma composição da Umbra e Penumbra da Lua.</p>

<h3>Botões de Tela</h3>

<div class="btn-exemplo-ajuda">
    <button type="button" class="btn btn-info btn-lg">
        Alterar Data
    </button>
</div>

<p>O botão "Alterar Data" permite escolher uma data para iniciar a busca do próximo eclipse.</p>

<div class="btn-exemplo-ajuda">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary">Eclipse Solar</button>
        <button type="button" class="btn btn-primary">Eclipse Lunar</button>
    </div>
</div>

<p>Este botão inicia a busca de eclipses solares ou lunares.</p>

<div class="btn-exemplo-ajuda">
    <i class="glyphicon glyphicon-eye-open lua-ligado jlink"></i>
</div>

<p>Este botão permite visualizar o sistema Sol-Lua em destaque.</p>
<p>O botão muda o tom de sua cor quando é acionado.</p>

<h3>Funções do Mouse</h3>

<ul>
    <li><b>Botão Esquerdo:</b> com este botão pode-se deslocar (rotação) a imagem.</li>
    <li><b>Botão Direito:</b> com este botão pode-se deslocar a imagem no sentido
        horizontal e vertical.</li>
    <li><b>Botão de rolagem:</b> para aproximar ou afastar a imagem, basta girar este botão
        ou mantê-lo pressionado e arrastando verticalmente.</li>
</ul>

<h3>Resultados</h3>

<p>Os resultados são mostrados no canto inferior esquerdo da tela.</p>

<ul>
    <li><b>Data -</b> Data e hora que acontecerá o evento. O instante do evento é calculado para o Meridiano de Greenwich (<b>T</b>empo <b>U</b>niversal), pois as previsões dos eclipses são feitas para qualquer ponto da superfície terrestre. Para saber a hora local que acontecerá o evento é só considerar o Fuso Horário.</li>
    
    <li><b>Alinhamento do Sol/Lua -</b> Ângulo que define a máxima coincidência de obstrução da luz entre o Sol e a Lua. Para os eclipses solares este ângulo é próximo de 0°. Para os eclipses lunares este ângulo é próximo de 180°. A tolerância para a definição do fenômeno é de 1°.</li>
    
    <li><b>Melhor Alinhamento -</b> Se refere ao instante do melhor momento de
        alinhamento entre o Sol e a Lua.</li>
</ul>

<h3>Tipos de Eclipses Solares</h3>

<ul>

    <li><b>Total Central -</b> Quando as imagens (discos) têm máxima
        coincidência.</li>
    
    <li><b>Parcial Não Central -</b> Quando as imagens (discos) não coincidem.
        Alinhamentos maiores que 1&deg;.</li>

    <li><b>Anular Central -</b> Quando as imagens (discos) se aproximam da
        coincidência. Surge um anel ou arco de anel de luz. Alinhamentos
        maiores que 1&deg;.</li>

</ul>

<p>O <b>Raio do Cone de Sombra</b> é a projeção da sombra da Lua sobre uma
região da superfície terrestre. Essa informação é dada em raios
terrestres (Km).</p>

<h3>Tipos de Eclipses Lunares</h3>

<ul>

    <li><b>Total -</b> A superfície visível da Lua é totalmente coberta pela Umbra da
        Terra. Este fenômeno é composto de uma parte Total e uma parte
        Parcial.</li>
    
    <li><b>Penumbral -</b> A superfície visível da Lua é coberta apenas pela Penumbra da Terra.</li>
    
    <li><b>Parcial -</b> Apenas parte da superfície visível da Lua é coberta pela
Umbra, enquanto a outra parte fica coberta pela Penumbra.</li>
    
    <li><b>Duração -</b> Tempo máximo de duração do fenômeno.</li>

    <li><b>Contato Penumbra e Umbra -</b> Instantes em que a Penumbra e a
        Umbra tocam a superfície lunar</li>

</ul>