<style>

    @media(max-width: 550px) {
        #buscar-eclipses, #cancelar-busca-eclipse {
            display: none;
        }
    }

    #buscar-eclipses, #cancelar-busca-eclipse {
        bottom: 1%;
        right: 1%;
        position: absolute;
    }

    #parent-exibir-resultados {
        top: 63px !important;   
    }

    #passagem-do-tempo, #parent-atualizacao-automatica {
        display: none;
    }
    
    @media(max-height: 400px) {
        #ver-fase-atual-lua {
            display: none;
        }
    }
    
    #ver-fase-atual-lua {
        font-size: 2em;
    }

    .lua-ligado {
        color: #6fc992;
    }
    
    .lua-desligado {
        color: #ec5555;
    }

</style>