<h3>Eclipses Solares e Lunares</h3>

<p>É possível construir, a partir das rotinas do pacote ASTRO, um aplicativo para prever
    os eclipses solares e lunares. Esta previsão tem um certo grau de
    dificuldade, uma vez que a combinação de muitas variáveis que envolvem o sistema
    Sol-Terra-Lua dependem de cálculos complexos, como, por exemplo, integrações numéricas.</p>

<p>O erro médio, para 221 Eclipses Solares entre 1951 e 2050 é de ±0,36 minutos, com
    uma incerteza máxima de 1,1 minutos de tempo.</p>

<p>Define-se um eclipse ou ocultação como sendo o momento em que, para um dado local na superfície terrestre, um corpo celeste é visto obstruir parcial ou totalmente o disco luminoso de outro corpo.</p>

<h3>Eclipses lunares</h3>

<p>A <b>sombra</b> projetada pela Terra sobre a superfície da Lua possui duas partes
    denominadas <b>Umbra</b> e <b>Penumbra</b>. A <b>Umbra</b> é uma região em que não há
    iluminação direta do Sol e a <b>Penumbra</b> uma região em que apenas parte da
    iluminação é bloqueada. A <b>Penumbra</b> acontece quando a fonte luminosa é extensa.
    Um observador na penumbra vê um eclipse parcial.</p>

<p>Os tipos de eclipses lunares são: <b>Total</b>, <b>Parcial</b> e <b>Penumbral</b>.</p>

<p>O eclipse <b>Total</b> da Lua acontece com a sua entrada na Umbra da Terra e o <b>Parcial</b>
quando a Lua é encoberta somente pela região da Penumbra. No caso do eclipse total, a Lua não "desaparece" completamente no céu, porque parte da luz do Sol é
refratada na atmosfera da Terra, dando origem a chamada "<b>Lua Vermelha</b>" ou "<b>Lua
    de Sangue</b>".</p>

<p>É possível determinar o tempo que a Lua permanecerá na penumbra, parcialmente e totalmente na umbra. Portanto são determinados os instantes de início, fim e de melhor alinhamento do fenômeno.</p>

<h3>Eclipses Solares</h3>

<p>Fenômeno de alinhamento que ocorre quando a Lua se posiciona entre o Sol e a
    Terra, obstruindo parcial ou totalmente a luz do Sol.</p>

<p>O eclipse solar pode ser <b>Total</b>, quando todo o disco solar é ocultado pela Lua.
    <b>Parcial</b>, quando parte do Sol é ocultada pelo disco lunar e <b>Anular</b>, quando se forma
    um anel luminoso em torno da Lua.</p>

<p>O eclipse <b>Total</b> do Sol se dá quando a Terra está na Umbra e o <b>Parcial</b> quando a
Terra é encoberta somente pela região da Penumbra. Neste caso a Terra nunca entra
na Umbra. O eclipse <b>Anular</b> se dá quando, no eclipse total, o disco lunar está menor
do que o disco solar. Isso se deve a variação da distância do sistema Sol-Lua-Terra.</p>

<p>Os eclipses solares ocorrem durante a fase de Lua nova, período no qual a Lua está
    posicionada entre a Terra e o Sol.</p>

<p>É importante registrar que a grande motivação para a criação deste programa é
que ele foi desenvolvido por um estudante, bolsista do Programa de Capacitação
Institucional - PCI/CNPq. O Observatório Nacional, além das atividades de pesquisa
de ponta, cumprindo com sua parcela no desenvolvimento da ciência em escala
global, também deve se esforçar e aprimorar nos meios de divulgação e
popularização da astronomia no Brasil. O ON junta-se, assim, ao esforço de todos
na melhoria da educação e do nível de conhecimento científico da população
brasileira.</p>

<p>Saiba mais em:</p>

<div>
    <a href="http://pt.wikipedia.org/wiki/Eclipse_solar">http://pt.wikipedia.org/wiki/Eclipse_solar</a>
</div>
<div>
    <a href="http://www.cdcc.sc.usp.br/cda/aprendendo-basico/eclipses-solares-lunares/eclipsessolares-lunares.htm">http://www.cdcc.sc.usp.br/cda/aprendendo-basico/eclipses-solares-lunares/eclipsessolares-lunares.htm</a>
</div>