<h3>Ângulo Horário</h3>

<p>Este sistema de coordenadas utiliza como plano fundamental ou de referência o
Equador Celeste. A coordenada a ser determinada ao longo do equador é o ângulo
horário (H) e a declinação (&delta;).</p>

<p>Um ângulo horário de 0 horas indica que o astro se encontra exatamente sobre o
    meridiano do lugar.</p>

<p><b>Ângulo Horário</b> (H) é medido sobre o equador celeste, com origem no
meridiano local e fim no meridiano do astro. Varia entre -12h e +12h. Quando
o astro está a Leste, o sinal é negativo. Quando o astro está a Oeste, o sinal é
positivo.</p>

<p><b>Declinação (&delta;)</b>, ângulo medido sobre o meridiano do astro, com origem no
    equador celeste e fim no astro. A declinação varia entre -90° e +90°.</p>

<h3>Saiba mais em:</h3>
<a href="http://pt.wikipedia.org/wiki/%C3%82ngulo_hor%C3%A1rio" target="_blank">http://pt.wikipedia.org/wiki/Ângulo_Horário</a>

<h3>Tempo Sideral</h3>

<p>É definido como o ângulo horário, medido em horas, do ponto vernal até uma
determinada longitude local (Observador). O Tempo Sideral auxilia nas observações
dos corpos celestes, determinando quando o astro irá passar no meridiano local.</p>

<p>Ponto Vernal ou Ponto de Áries ou Ponto Gama (&gamma;) é o ponto de interseção entre
    o plano do equador celeste e o plano da órbita do Sol (Plano da Eclíptica).</p>

<h3>Saiba mais em:</h3>
<a href="http://pt.wikipedia.org/wiki/Tempo_sideral" target="_blank">http://pt.wikipedia.org/wiki/Tempo_sideral</a>