<h3>Magnetosfera da Terra</h3>

<p>A Terra possui um campo magnético ao redor do planeta que se assemelha a um dipolo magnético, com seus polos a uma distância de 11.3º relativa ao eixo de rotação.</p>

<p>A Teoria do Dínamo é atualmente a mais aceita para explicar a origem, ainda desconhecida, do campo magnético terrestre. Esta teoria diz que existem fluídos condutores no centro do planeta (núcleo externo) que permitem que esse campo seja mantido por longos períodos (em escala astronômica).</p>

<p>Como o efeito do campo magnético terrestre se estende por várias dezenas de milhares de quilómetros, no espaço ele é chamado de Magnetosfera da Terra.</p>

<h3>Vento Solar</h3>

<p>O vento solar é formado por um conjunto de partículas atômicas que são produzidas na atmosfera externa do Sol (coroa solar). Sua velocidade média próxima da Terra é de 400 km/s. Essas partículas entram em interação com o campo magnético da Terra, representado pelas linhas de força, e com as camadas superiores de nossa atmosfera. Uma violenta atividade do vento solar leva a consequências que podem causar quedas de energia elétrica, interferência no funcionamento dos satélites de comunicações e de instrumentos de navegação e efeitos imprevisíveis sobre o clima.</p>

<h3>Cartas Magnéticas do Brasil</h3>

<p>As cartas magnéticas do Brasil são publicadas pelo Observatório Nacional e veiculam os parâmetros do campo geomagnético em todo o território nacional, fundamental para determinações geográficas e correções de dados magnéticos empregados na exploração de recursos minerais, entre outros.</p>

<p>Estas cartas são publicadas com periodicidade de cinco anos. Isso é necessário porque o campo geomagnético muda lentamente com o tempo. Este lento movimento é conhecido como variação secular.</p>

<p>Para representar as formas do campo geomagnético no Brasil e suas variações, o Observatório Nacional produz três cartas magnéticas:</p>

<ul>

	<li><b>Carta de Declinação Magnética:</b> Esta carta mostra as chamadas curvas isogônicas, representadas por que são linhas onde a declinação magnética é constante (linhas na cor vermelha). Na mesma carta são mostradas as curvas isopóricas da declinação, que são linhas onde a variação secular da declinação é constante (linhas na cor azul).</li>

	<li><b>Carta de Inclinação Magnética:</b> Esta carta mostra as chamadas curvas isoclínicas, descritas por que são linhas onde a inclinação magnética é constante (linhas na cor vermelha). Na mesma carta são mostradas as curvas isopóricas da inclinação expressas por que são linhas onde a variação secular da inclinação é constante (linhas na cor azul).</li>

	<li><b>Carta de Intensidade Total:</b> Esta carta mostra as chamadas curvas isodinâmicas totais, representadas por que são linhas onde a intensidade do campo geomagnético é constante (linhas na cor vermelha). Na mesma carta são mostradas as curvas isopóricas da intensidade, que são linhas onde a variação secular da intensidade do campo é constante (linhas na cor azul).</li>

</ul>

<h3>Saiba Mais em:</h3>

<div>
    <a href="https://pt.wikipedia.org/wiki/Teoria_do_d%C3%ADnamo" target="_blank">https://pt.wikipedia.org/wiki/Teoria_do_dínamo</a>
</div>
<div>
    <a href="https://pt.wikipedia.org/wiki/Magnetosfera" target="_blank">https://pt.wikipedia.org/wiki/Magnetosfera</a>
</div>
<div>
    <a href="https://pt.wikipedia.org/wiki/Vento_solar" target="_blank">https://pt.wikipedia.org/wiki/Vento_solar</a>
</div>

<div id="agradecimento-constantino">A Divisão de Atividades Educacionais agradece imensamente ao Prof. Constantino de Mello Motta pelo apoio na atualização deste importante trabalho, realizado por ele desde 1976 e que agora é disponibilizado no site do Observatório Nacional.</div>