<h3>Magnetosfera da Terra</h3>

<p>A Terra possui um campo magnético ao redor do planeta que se assemelha a um dipolo magnético, com seus polos a uma distância de 11.3º relativa ao eixo de rotação.</p>

<p>Sua origem ainda é desconhecida. A teoria mais aceita é a Teoria do Dínamo, que diz que existem fluídos condutores no centro do planeta que permitem que esse campo seja mantido por longos períodos (em escala astronômica).</p>

<p>Como o efeito do campo magnético terrestre se estende por várias dezenas de milhares de quilómetros, no espaço ele é chamado de Magnetosfera da Terra.</p>

<h3>Vento Solar</h3>

<p>O vento solar é formado por um conjunto de partículas atômicas que são produzidas na atmosfera externa do Sol (coroa solar). Sua velocidade média próxima da Terra é de 400 km/s. Essas partículas entram em interação com o campo magnético da Terra, representado pelas linhas de força, e com as camadas superiores de nossa atmosfera. Uma violenta atividade do vento solar leva a consequências que podem causar quedas de energia elétrica, interferência no funcionamento dos satélites de comunicações e de instrumentos de navegação e efeitos imprevisíveis sobre o clima.</p>

<h3>Cartas Magnéticas do Brasil</h3>

<p>As Cartas Magnéticas do Brasil são publicadas pelo Observatório Nacional e veiculam
    os parâmetros do campo geomagnético em todo o território nacional, fundamental
    para determinações geográficas e correções de dados magnéticos empregados na
    exploração de recursos minerais, entre outros. As cartas isogônicas são mapas que
    indicam o valor de parâmetros do campo magnético terrestres em uma região e
    durante uma determinada data. São eles:</p>

<dl>
    <dt>Declinação Magnética</dt>
    <dd>
        <p>A diferença angular entre a direção do polo geográfico e a direção indicada
            pela bússola recebe o nome de declinação magnética. Essa declinação muda
            de acordo com o local onde estamos na superfície do planeta.</p>

        <p>Existem algumas distorções no campo magnético da Terra que fazem ele não
            ser perfeitamente simétrico em relação ao eixo de rotação da Terra. Isso quer
            dizer que os polos geomagnéticos não coincidem com os polos geográficos.</p>

        <p>Essa assimetria é um dos fatores que fazem com que a bússola, quando usada
            na maioria dos locais da Terra, não aponte exatamente para o polo
            geográfico.</p>
    </dd>
    <dt>Inclinação Magnética</dt>
    <dd>
        <p>A Terra é circundada por um campo magnético que é usualmente
            representado por linhas de força. Esse campo é gerado no núcleo externo do
            planeta, e as linhas de força ficam em posições inclinadas em relação ao plano
            horizontal da superfície. Essa inclinação muda com a latitude segundo uma
            lei matemática conhecida. Por esse motivo, a medida da inclinação do campo
            geomagnético permite determinar, com uma boa aproximação, a latitude no
            local da medida. Esse dado é importante para fins de orientação geográfica.</p>
        <p>A inclinação magnética pode ser medida por um instrumento chamado
            bússola de inclinação.</p>
    </dd>
    <dt>Intensidade</dt>
    <dd>
        <p>As medidas de intensidade, direção e sentido do campo magnético terrestre
        são realizadas utilizando-se um equipamento chamado magnetômetro
        absoluto, criado pelo cientista alemão Johann Carl Friedrich Gauss (1777-
        1855).</p>
    </dd>
</dl>

<h3>Saiba Mais em:</h3>

<div>
    <a href="https://pt.wikipedia.org/wiki/Teoria_do_d%C3%ADnamo" target="_blank">https://pt.wikipedia.org/wiki/Teoria_do_dínamo</a>
</div>
<div>
    <a href="https://pt.wikipedia.org/wiki/Magnetosfera" target="_blank">https://pt.wikipedia.org/wiki/Magnetosfera</a>
</div>
<div>
    <a href="https://pt.wikipedia.org/wiki/Vento_solar" target="_blank">https://pt.wikipedia.org/wiki/Vento_solar</a>
</div>

<div id="agradecimento-constantino">A Divisão de Atividades Educacionais agradece imensamente ao Prof. Constantino de Mello Motta pelo apoio na atualização deste importante trabalho, realizado por ele desde ........ e que agora é disponibilizado no site do Observatório Nacional.</div>